.gallery-module {
  /* Slider */
  /* Arrows */ }
  .slick-loading .gallery-module .slick-list {
    background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat; }
  .gallery-module .slick-prev,
  .gallery-module .slick-next {
    position: absolute;
    display: none; }

.gallery-module {
  position: relative;
  margin-bottom: 20px;
  display: none; }
  .gallery-module.slick-initialized {
    display: block; }
  .gallery-module .galleryPrevArrow {
    display: block;
    position: absolute;
    height: 100%;
    cursor: pointer;
    width: 100px;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.5)); }
    .gallery-module .galleryPrevArrow:hover {
      background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.55)); }
    .gallery-module .galleryPrevArrow span {
      background-image: url("../images/icons/prev-arrow.svg"), none;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 35px;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      margin: 0 auto; }
  .gallery-module .galleryNextArrow {
    display: block;
    position: absolute;
    height: 100%;
    cursor: pointer;
    width: 100px;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5)); }
    .gallery-module .galleryNextArrow:hover {
      background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.55)); }
    .gallery-module .galleryNextArrow span {
      background-image: url("../images/icons/next-arrow.svg"), none;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 35px;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      margin: 0 auto; }
  .gallery-module figure {
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 2px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    direction: ltr;
    position: relative;
    cursor: pointer; }
    .gallery-module figure:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .gallery-module figure > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .gallery-module figure > a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      cursor: pointer; }
    .gallery-module figure img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1; }
    .gallery-module figure figcaption {
      position: absolute;
      width: 100%;
      bottom: -72px;
      z-index: 2;
      transition: .125s bottom ease;
      padding: 10px;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)); }
      .gallery-module figure figcaption h2 {
        font-family: AN-Reg;
        font-size: 20px;
        font-weight: 800;
        margin: 0;
        color: white; }
      .gallery-module figure figcaption p {
        font-size: 12px;
        margin: 0;
        color: #fddd00;
        font-style: italic; }
        .gallery-module figure figcaption p a {
          position: relative;
          z-index: 99;
          text-decoration: none;
          color: #fddd00; }
    .gallery-module figure:hover figcaption {
      bottom: 0; }
  .gallery-module.rtl figure figcaption {
    text-align: right; }
