@font-face {
  font-family: 'so-slider-pointers';
  src: url('fonts/slider.eot?8p86w5');
  src: url('fonts/slider.eot?#iefix8p86w5') format('embedded-opentype'), url('fonts/slider.woff?8p86w5') format('woff'), url('fonts/slider.ttf?8p86w5') format('truetype'), url('fonts/slider.svg?8p86w5#slider') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sow-slider-base {
  position: relative;
  overflow: hidden;
  /* Some jQuery Cycle Specific CSS */
  /* Icon fonts for the left and right slider images */
}
.sow-slider-base ul.sow-slider-images {
  list-style: none;
  margin: 0;
  overflow: hidden;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image {
  width: 100%;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image.sow-slider-image-cover {
  background-position: center center;
  background-size: cover;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image.sow-slider-image-cover {
  background-repeat: repeat;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-container .sow-slider-image-wrapper {
  margin: 0 auto;
  z-index: 2;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-container .sow-slider-image-wrapper > *:first-child {
  margin-top: 0;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-container .sow-slider-image-wrapper > *:last-child {
  margin-bottom: 0;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-overlay.sow-slider-image-cover {
  background-position: center center;
  background-size: cover;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-overlay.sow-slider-image-cover {
  background-repeat: repeat;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image > img,
.sow-slider-base ul.sow-slider-images li.sow-slider-image > a > img,
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-wrapper > img,
.sow-slider-base ul.sow-slider-images li.sow-slider-image .sow-slider-image-wrapper > a > img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}

/* iPhone 6+ ----------- */
@media only screen and (max-width: 500px){
  .sow-slider-image-wrapper {
      padding: 0;
  }
}

.sow-slider-base ul.sow-slider-images li.sow-slider-image video.sow-background-element {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  z-index: 1;
  overflow: hidden;
}
.sow-slider-base ul.sow-slider-images li.sow-slider-image video.sow-full-element {
  display: block;
  width: 100%;
  height: auto;
}
.sow-slider-base .sow-slider-pagination {
  list-style: none;
  margin: 0;
  text-align: right;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 1001;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
  line-height: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sow-slider-base .sow-slider-pagination li {
  text-align: left;
  margin: 0;
  display: inline-block;
}
.sow-slider-base .sow-slider-pagination li a {
  display: block;
  text-indent: -9999px;
  width: 11px;
  height: 11px;
  background: #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity: 0.45;
}
.sow-slider-base .sow-slider-pagination li.sow-active a {
  opacity: 0.85;
}
.sow-slider-base .sow-slide-nav {
  list-style: none;
  z-index: 1001;
  position: absolute;
  top: 50%;
  opacity: 0.75;
  font-size: 25px;
  margin-top: -0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sow-slider-base .sow-slide-nav a {
  display: block;
  height: 1em;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}
.sow-slider-base .sow-slide-nav a em {
  display: block;
}
.sow-slider-base .sow-slide-nav.sow-slide-nav-next {
  right: 20px;
}
.sow-slider-base .sow-slide-nav.sow-slide-nav-next a {
  background-position: top right;
}
.sow-slider-base .sow-slide-nav.sow-slide-nav-prev {
  left: 20px;
}
.sow-slider-base .sow-slide-nav.sow-slide-nav-prev a {
  background-position: top left;
}
.sow-slider-base .cycle-sentinal {
  overflow: hidden;
}
.sow-slider-base.sow-slider-is-mobile .sow-slide-nav,
.sow-slider-base.sow-slider-is-mobile .sow-slider-pagination {
  /* display: none; */
}
.sow-slider-base.sow-slider-is-mobile video.sow-background-element {
  visibility: hidden;
}
.sow-slider-base [class^="sow-sld-icon-"],
.sow-slider-base [class*=" sow-sld-icon-"] {
  font-family: 'so-slider-pointers';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sow-slider-base .sow-sld-icon-ultra-thin-rounded-left:before {
  content: "\e600";
}
.sow-slider-base .sow-sld-icon-ultra-thin-rounded-right:before {
  content: "\e601";
}
.sow-slider-base .sow-sld-icon-thin-rounded-left:before {
  content: "\e602";
}
.sow-slider-base .sow-sld-icon-thin-rounded-right:before {
  content: "\e603";
}
.sow-slider-base .sow-sld-icon-medium-rounded-left:before {
  content: "\e604";
}
.sow-slider-base .sow-sld-icon-medium-rounded-right:before {
  content: "\e605";
}
.sow-slider-base .sow-sld-icon-thick-rounded-left:before {
  content: "\e606";
}
.sow-slider-base .sow-sld-icon-thick-rounded-right:before {
  content: "\e607";
}
.sow-slider-base .sow-sld-icon-ultra-thin-left:before {
  content: "\e608";
}
.sow-slider-base .sow-sld-icon-ultra-thin-right:before {
  content: "\e609";
}
.sow-slider-base .sow-sld-icon-thin-left:before {
  content: "\e60a";
}
.sow-slider-base .sow-sld-icon-thin-right:before {
  content: "\e60b";
}
.sow-slider-base .sow-sld-icon-medium-left:before {
  content: "\e60c";
}
.sow-slider-base .sow-sld-icon-medium-right:before {
  content: "\e60d";
}
.sow-slider-base .sow-sld-icon-thick-left:before {
  content: "\e60e";
}
.sow-slider-base .sow-sld-icon-thick-right:before {
  content: "\e60f";
}
