.panel-grid.panel-no-style,
.panel-grid.panel-has-style > .panel-row-style {
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 800px){
  .panel-grid.panel-no-style {
    display: block;
  }
}
.panel-grid-cell {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-grid-cell .panel-cell-style {
  height: 100%;
}
.panel-grid-cell .so-panel {
  zoom: 1;
}
.panel-grid-cell .so-panel:before {
  content: '';
  display: block;
}
.panel-grid-cell .so-panel:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell .panel-last-child {
  margin-bottom: 0;
}
.panel-grid-cell .widget-title {
  margin-top: 0;
}
body.siteorigin-panels-before-js {
  overflow-x: hidden;
}
body.siteorigin-panels-before-js .siteorigin-panels-stretch {
  margin-right: -1000px !important;
  margin-left: -1000px !important;
  padding-right: 1000px !important;
  padding-left: 1000px !important;
}
