/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.lib_lightbox_video_block [type='text'], .lib_lightbox_video_block [type='password'], .lib_lightbox_video_block [type='date'], .lib_lightbox_video_block [type='datetime'], .lib_lightbox_video_block [type='datetime-local'], .lib_lightbox_video_block [type='month'], .lib_lightbox_video_block [type='week'], .lib_lightbox_video_block [type='email'], .lib_lightbox_video_block [type='number'], .lib_lightbox_video_block [type='search'], .lib_lightbox_video_block [type='tel'], .lib_lightbox_video_block [type='time'], .lib_lightbox_video_block [type='url'], .lib_lightbox_video_block [type='color'],
.lib_lightbox_video_block textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none; }
  .lib_lightbox_video_block [type='text']:focus, .lib_lightbox_video_block [type='password']:focus, .lib_lightbox_video_block [type='date']:focus, .lib_lightbox_video_block [type='datetime']:focus, .lib_lightbox_video_block [type='datetime-local']:focus, .lib_lightbox_video_block [type='month']:focus, .lib_lightbox_video_block [type='week']:focus, .lib_lightbox_video_block [type='email']:focus, .lib_lightbox_video_block [type='number']:focus, .lib_lightbox_video_block [type='search']:focus, .lib_lightbox_video_block [type='tel']:focus, .lib_lightbox_video_block [type='time']:focus, .lib_lightbox_video_block [type='url']:focus, .lib_lightbox_video_block [type='color']:focus,
  .lib_lightbox_video_block textarea:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

.lib_lightbox_video_block textarea {
  max-width: 100%; }
  .lib_lightbox_video_block textarea[rows] {
    height: auto; }

.lib_lightbox_video_block input::placeholder,
.lib_lightbox_video_block textarea::placeholder {
  color: #cacaca; }

.lib_lightbox_video_block input:disabled, .lib_lightbox_video_block input[readonly],
.lib_lightbox_video_block textarea:disabled,
.lib_lightbox_video_block textarea[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed; }

.lib_lightbox_video_block [type='submit'],
.lib_lightbox_video_block [type='button'] {
  appearance: none;
  border-radius: 0; }

.lib_lightbox_video_block input[type='search'] {
  box-sizing: border-box; }

.lib_lightbox_video_block [type='file'],
.lib_lightbox_video_block [type='checkbox'],
.lib_lightbox_video_block [type='radio'] {
  margin: 0 0 1rem; }

.lib_lightbox_video_block [type='checkbox'] + label,
.lib_lightbox_video_block [type='radio'] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0; }
  .lib_lightbox_video_block [type='checkbox'] + label[for],
  .lib_lightbox_video_block [type='radio'] + label[for] {
    cursor: pointer; }

.lib_lightbox_video_block label > [type='checkbox'],
.lib_lightbox_video_block label > [type='radio'] {
  margin-right: 0.5rem; }

.lib_lightbox_video_block [type='file'] {
  width: 100%; }

.lib_lightbox_video_block label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  color: #0a0a0a; }
  .lib_lightbox_video_block label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0; }

.lib_lightbox_video_block .help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #0a0a0a; }

.lib_lightbox_video_block .input-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: stretch; }
  .lib_lightbox_video_block .input-group > :first-child {
    border-radius: 0 0 0 0; }
  .lib_lightbox_video_block .input-group > :last-child > * {
    border-radius: 0 0 0 0; }

.lib_lightbox_video_block .input-group-label, .lib_lightbox_video_block .input-group-field, .lib_lightbox_video_block .input-group-button, .lib_lightbox_video_block .input-group-button a, .lib_lightbox_video_block .input-group-button input, .lib_lightbox_video_block .input-group-button button, .lib_lightbox_video_block .input-group-button label {
  margin: 0;
  white-space: nowrap; }

.lib_lightbox_video_block .input-group-label {
  padding: 0 1rem;
  border: 1px solid #cacaca;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex: 0 0 auto;
  align-items: center; }
  .lib_lightbox_video_block .input-group-label:first-child {
    border-right: 0; }
  .lib_lightbox_video_block .input-group-label:last-child {
    border-left: 0; }

.lib_lightbox_video_block .input-group-field {
  border-radius: 0;
  flex: 1 1 0px;
  min-width: 0; }

.lib_lightbox_video_block .input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: flex;
  flex: 0 0 auto; }
  .lib_lightbox_video_block .input-group-button a,
  .lib_lightbox_video_block .input-group-button input,
  .lib_lightbox_video_block .input-group-button button,
  .lib_lightbox_video_block .input-group-button label {
    height: auto;
    align-self: stretch;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem; }

.lib_lightbox_video_block fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

.lib_lightbox_video_block legend {
  max-width: 100%;
  margin-bottom: 0.5rem; }

.lib_lightbox_video_block .fieldset {
  margin: 1.125rem 0;
  padding: 1.25rem;
  border: 1px solid #cacaca; }
  .lib_lightbox_video_block .fieldset legend {
    margin: 0;
    margin-left: -0.1875rem;
    padding: 0 0.1875rem; }

.lib_lightbox_video_block select {
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  appearance: none;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
  @media screen and (min-width: 0\0) {
    .lib_lightbox_video_block select {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }
  .lib_lightbox_video_block select:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
  .lib_lightbox_video_block select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed; }
  .lib_lightbox_video_block select::-ms-expand {
    display: none; }
  .lib_lightbox_video_block select[multiple] {
    height: auto;
    background-image: none; }

.lib_lightbox_video_block .is-invalid-input:not(:focus) {
  border-color: #cc4b37;
  background-color: #f9ecea; }
  .lib_lightbox_video_block .is-invalid-input:not(:focus)::placeholder {
    color: #cc4b37; }

.lib_lightbox_video_block .is-invalid-label {
  color: #cc4b37; }

.lib_lightbox_video_block .form-error {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #cc4b37; }
  .lib_lightbox_video_block .form-error.is-visible {
    display: block; }

.lib_lightbox_video_block .grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin: 0 auto; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-container {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .lib_lightbox_video_block .grid-container.fluid {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 100%;
    margin: 0 auto; }
    @media print, screen and (min-width: 40em) {
      .lib_lightbox_video_block .grid-container.fluid {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
  .lib_lightbox_video_block .grid-container.full {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin: 0 auto; }

.lib_lightbox_video_block .grid-x {
  display: flex;
  flex-flow: row wrap; }

.lib_lightbox_video_block .cell {
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%; }
  .lib_lightbox_video_block .cell.auto {
    flex: 1 1 0px; }
  .lib_lightbox_video_block .cell.shrink {
    flex: 0 0 auto; }

.lib_lightbox_video_block .grid-x > .auto {
  width: auto; }

.lib_lightbox_video_block .grid-x > .shrink {
  width: auto; }

.lib_lightbox_video_block .grid-x > .small-shrink, .lib_lightbox_video_block .grid-x > .small-full, .lib_lightbox_video_block .grid-x > .small-1, .lib_lightbox_video_block .grid-x > .small-2, .lib_lightbox_video_block .grid-x > .small-3, .lib_lightbox_video_block .grid-x > .small-4, .lib_lightbox_video_block .grid-x > .small-5, .lib_lightbox_video_block .grid-x > .small-6, .lib_lightbox_video_block .grid-x > .small-7, .lib_lightbox_video_block .grid-x > .small-8, .lib_lightbox_video_block .grid-x > .small-9, .lib_lightbox_video_block .grid-x > .small-10, .lib_lightbox_video_block .grid-x > .small-11, .lib_lightbox_video_block .grid-x > .small-12 {
  flex-basis: auto; }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .grid-x > .medium-shrink, .lib_lightbox_video_block .grid-x > .medium-full, .lib_lightbox_video_block .grid-x > .medium-1, .lib_lightbox_video_block .grid-x > .medium-2, .lib_lightbox_video_block .grid-x > .medium-3, .lib_lightbox_video_block .grid-x > .medium-4, .lib_lightbox_video_block .grid-x > .medium-5, .lib_lightbox_video_block .grid-x > .medium-6, .lib_lightbox_video_block .grid-x > .medium-7, .lib_lightbox_video_block .grid-x > .medium-8, .lib_lightbox_video_block .grid-x > .medium-9, .lib_lightbox_video_block .grid-x > .medium-10, .lib_lightbox_video_block .grid-x > .medium-11, .lib_lightbox_video_block .grid-x > .medium-12 {
    flex-basis: auto; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .grid-x > .large-shrink, .lib_lightbox_video_block .grid-x > .large-full, .lib_lightbox_video_block .grid-x > .large-1, .lib_lightbox_video_block .grid-x > .large-2, .lib_lightbox_video_block .grid-x > .large-3, .lib_lightbox_video_block .grid-x > .large-4, .lib_lightbox_video_block .grid-x > .large-5, .lib_lightbox_video_block .grid-x > .large-6, .lib_lightbox_video_block .grid-x > .large-7, .lib_lightbox_video_block .grid-x > .large-8, .lib_lightbox_video_block .grid-x > .large-9, .lib_lightbox_video_block .grid-x > .large-10, .lib_lightbox_video_block .grid-x > .large-11, .lib_lightbox_video_block .grid-x > .large-12 {
    flex-basis: auto; } }

.lib_lightbox_video_block .grid-x > .small-1 {
  width: 8.33333%; }

.lib_lightbox_video_block .grid-x > .small-2 {
  width: 16.66667%; }

.lib_lightbox_video_block .grid-x > .small-3 {
  width: 25%; }

.lib_lightbox_video_block .grid-x > .small-4 {
  width: 33.33333%; }

.lib_lightbox_video_block .grid-x > .small-5 {
  width: 41.66667%; }

.lib_lightbox_video_block .grid-x > .small-6 {
  width: 50%; }

.lib_lightbox_video_block .grid-x > .small-7 {
  width: 58.33333%; }

.lib_lightbox_video_block .grid-x > .small-8 {
  width: 66.66667%; }

.lib_lightbox_video_block .grid-x > .small-9 {
  width: 75%; }

.lib_lightbox_video_block .grid-x > .small-10 {
  width: 83.33333%; }

.lib_lightbox_video_block .grid-x > .small-11 {
  width: 91.66667%; }

.lib_lightbox_video_block .grid-x > .small-12 {
  width: 100%; }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .grid-x > .medium-auto {
    flex: 1 1 0px;
    width: auto; }
  .lib_lightbox_video_block .grid-x > .medium-shrink {
    flex: 0 0 auto;
    width: auto; }
  .lib_lightbox_video_block .grid-x > .medium-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .grid-x > .medium-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .grid-x > .medium-3 {
    width: 25%; }
  .lib_lightbox_video_block .grid-x > .medium-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .grid-x > .medium-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .grid-x > .medium-6 {
    width: 50%; }
  .lib_lightbox_video_block .grid-x > .medium-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .grid-x > .medium-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .grid-x > .medium-9 {
    width: 75%; }
  .lib_lightbox_video_block .grid-x > .medium-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .grid-x > .medium-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .grid-x > .medium-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .grid-x > .large-auto {
    flex: 1 1 0px;
    width: auto; }
  .lib_lightbox_video_block .grid-x > .large-shrink {
    flex: 0 0 auto;
    width: auto; }
  .lib_lightbox_video_block .grid-x > .large-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .grid-x > .large-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .grid-x > .large-3 {
    width: 25%; }
  .lib_lightbox_video_block .grid-x > .large-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .grid-x > .large-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .grid-x > .large-6 {
    width: 50%; }
  .lib_lightbox_video_block .grid-x > .large-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .grid-x > .large-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .grid-x > .large-9 {
    width: 75%; }
  .lib_lightbox_video_block .grid-x > .large-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .grid-x > .large-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .grid-x > .large-12 {
    width: 100%; } }

.lib_lightbox_video_block .grid-margin-x:not(.grid-x) > .cell {
  width: auto; }

.lib_lightbox_video_block .grid-margin-y:not(.grid-y) > .cell {
  height: auto; }

.lib_lightbox_video_block .grid-margin-x {
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-x {
      margin-left: -0.9375rem;
      margin-right: -0.9375rem; } }
  .lib_lightbox_video_block .grid-margin-x > .cell {
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-x > .cell {
      width: calc(100% - 1.875rem);
      margin-left: 0.9375rem;
      margin-right: 0.9375rem; } }
  .lib_lightbox_video_block .grid-margin-x > .auto {
    width: auto; }
  .lib_lightbox_video_block .grid-margin-x > .shrink {
    width: auto; }
  .lib_lightbox_video_block .grid-margin-x > .small-1 {
    width: calc(8.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-2 {
    width: calc(16.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-3 {
    width: calc(25% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-4 {
    width: calc(33.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-5 {
    width: calc(41.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-6 {
    width: calc(50% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-7 {
    width: calc(58.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-8 {
    width: calc(66.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-9 {
    width: calc(75% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-10 {
    width: calc(83.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-11 {
    width: calc(91.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x > .small-12 {
    width: calc(100% - 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-x > .auto {
      width: auto; }
    .lib_lightbox_video_block .grid-margin-x > .shrink {
      width: auto; }
    .lib_lightbox_video_block .grid-margin-x > .small-1 {
      width: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-2 {
      width: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-3 {
      width: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-4 {
      width: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-5 {
      width: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-6 {
      width: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-7 {
      width: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-8 {
      width: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-9 {
      width: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-10 {
      width: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-11 {
      width: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .small-12 {
      width: calc(100% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-auto {
      width: auto; }
    .lib_lightbox_video_block .grid-margin-x > .medium-shrink {
      width: auto; }
    .lib_lightbox_video_block .grid-margin-x > .medium-1 {
      width: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-2 {
      width: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-3 {
      width: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-4 {
      width: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-5 {
      width: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-6 {
      width: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-7 {
      width: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-8 {
      width: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-9 {
      width: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-10 {
      width: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-11 {
      width: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .medium-12 {
      width: calc(100% - 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_lightbox_video_block .grid-margin-x > .large-auto {
      width: auto; }
    .lib_lightbox_video_block .grid-margin-x > .large-shrink {
      width: auto; }
    .lib_lightbox_video_block .grid-margin-x > .large-1 {
      width: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-2 {
      width: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-3 {
      width: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-4 {
      width: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-5 {
      width: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-6 {
      width: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-7 {
      width: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-8 {
      width: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-9 {
      width: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-10 {
      width: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-11 {
      width: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-x > .large-12 {
      width: calc(100% - 1.875rem); } }

.lib_lightbox_video_block .grid-padding-x .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-padding-x .grid-padding-x {
      margin-right: -0.9375rem;
      margin-left: -0.9375rem; } }

.grid-container:not(.full) > .lib_lightbox_video_block .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid-container:not(.full) > .lib_lightbox_video_block .grid-padding-x {
      margin-right: -0.9375rem;
      margin-left: -0.9375rem; } }

.lib_lightbox_video_block .grid-padding-x > .cell {
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-padding-x > .cell {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

.lib_lightbox_video_block .small-up-1 > .cell {
  width: 100%; }

.lib_lightbox_video_block .small-up-2 > .cell {
  width: 50%; }

.lib_lightbox_video_block .small-up-3 > .cell {
  width: 33.33333%; }

.lib_lightbox_video_block .small-up-4 > .cell {
  width: 25%; }

.lib_lightbox_video_block .small-up-5 > .cell {
  width: 20%; }

.lib_lightbox_video_block .small-up-6 > .cell {
  width: 16.66667%; }

.lib_lightbox_video_block .small-up-7 > .cell {
  width: 14.28571%; }

.lib_lightbox_video_block .small-up-8 > .cell {
  width: 12.5%; }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .medium-up-1 > .cell {
    width: 100%; }
  .lib_lightbox_video_block .medium-up-2 > .cell {
    width: 50%; }
  .lib_lightbox_video_block .medium-up-3 > .cell {
    width: 33.33333%; }
  .lib_lightbox_video_block .medium-up-4 > .cell {
    width: 25%; }
  .lib_lightbox_video_block .medium-up-5 > .cell {
    width: 20%; }
  .lib_lightbox_video_block .medium-up-6 > .cell {
    width: 16.66667%; }
  .lib_lightbox_video_block .medium-up-7 > .cell {
    width: 14.28571%; }
  .lib_lightbox_video_block .medium-up-8 > .cell {
    width: 12.5%; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-up-1 > .cell {
    width: 100%; }
  .lib_lightbox_video_block .large-up-2 > .cell {
    width: 50%; }
  .lib_lightbox_video_block .large-up-3 > .cell {
    width: 33.33333%; }
  .lib_lightbox_video_block .large-up-4 > .cell {
    width: 25%; }
  .lib_lightbox_video_block .large-up-5 > .cell {
    width: 20%; }
  .lib_lightbox_video_block .large-up-6 > .cell {
    width: 16.66667%; }
  .lib_lightbox_video_block .large-up-7 > .cell {
    width: 14.28571%; }
  .lib_lightbox_video_block .large-up-8 > .cell {
    width: 12.5%; } }

.lib_lightbox_video_block .grid-margin-x.small-up-1 > .cell {
  width: calc(100% - 1.25rem); }

.lib_lightbox_video_block .grid-margin-x.small-up-2 > .cell {
  width: calc(50% - 1.25rem); }

.lib_lightbox_video_block .grid-margin-x.small-up-3 > .cell {
  width: calc(33.33333% - 1.25rem); }

.lib_lightbox_video_block .grid-margin-x.small-up-4 > .cell {
  width: calc(25% - 1.25rem); }

.lib_lightbox_video_block .grid-margin-x.small-up-5 > .cell {
  width: calc(20% - 1.25rem); }

.lib_lightbox_video_block .grid-margin-x.small-up-6 > .cell {
  width: calc(16.66667% - 1.25rem); }

.lib_lightbox_video_block .grid-margin-x.small-up-7 > .cell {
  width: calc(14.28571% - 1.25rem); }

.lib_lightbox_video_block .grid-margin-x.small-up-8 > .cell {
  width: calc(12.5% - 1.25rem); }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .grid-margin-x.small-up-1 > .cell {
    width: calc(100% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.small-up-2 > .cell {
    width: calc(50% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.small-up-3 > .cell {
    width: calc(33.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.small-up-4 > .cell {
    width: calc(25% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.small-up-5 > .cell {
    width: calc(20% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.small-up-6 > .cell {
    width: calc(16.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.small-up-7 > .cell {
    width: calc(14.28571% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.small-up-8 > .cell {
    width: calc(12.5% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-1 > .cell {
    width: calc(100% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-2 > .cell {
    width: calc(50% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-3 > .cell {
    width: calc(33.33333% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-4 > .cell {
    width: calc(25% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-5 > .cell {
    width: calc(20% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-6 > .cell {
    width: calc(16.66667% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-7 > .cell {
    width: calc(14.28571% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.medium-up-8 > .cell {
    width: calc(12.5% - 1.875rem); } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .grid-margin-x.large-up-1 > .cell {
    width: calc(100% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.large-up-2 > .cell {
    width: calc(50% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.large-up-3 > .cell {
    width: calc(33.33333% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.large-up-4 > .cell {
    width: calc(25% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.large-up-5 > .cell {
    width: calc(20% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.large-up-6 > .cell {
    width: calc(16.66667% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.large-up-7 > .cell {
    width: calc(14.28571% - 1.875rem); }
  .lib_lightbox_video_block .grid-margin-x.large-up-8 > .cell {
    width: calc(12.5% - 1.875rem); } }

.lib_lightbox_video_block .small-margin-collapse {
  margin-right: 0;
  margin-left: 0; }
  .lib_lightbox_video_block .small-margin-collapse > .cell {
    margin-right: 0;
    margin-left: 0; }
  .lib_lightbox_video_block .small-margin-collapse > .small-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-3 {
    width: 25%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-6 {
    width: 50%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-9 {
    width: 75%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .small-margin-collapse > .small-12 {
    width: 100%; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .small-margin-collapse > .medium-1 {
      width: 8.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-2 {
      width: 16.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-3 {
      width: 25%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-4 {
      width: 33.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-5 {
      width: 41.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-6 {
      width: 50%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-7 {
      width: 58.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-8 {
      width: 66.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-9 {
      width: 75%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-10 {
      width: 83.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-11 {
      width: 91.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .medium-12 {
      width: 100%; } }
  @media print, screen and (min-width: 64em) {
    .lib_lightbox_video_block .small-margin-collapse > .large-1 {
      width: 8.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-2 {
      width: 16.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-3 {
      width: 25%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-4 {
      width: 33.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-5 {
      width: 41.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-6 {
      width: 50%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-7 {
      width: 58.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-8 {
      width: 66.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-9 {
      width: 75%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-10 {
      width: 83.33333%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-11 {
      width: 91.66667%; }
    .lib_lightbox_video_block .small-margin-collapse > .large-12 {
      width: 100%; } }

.lib_lightbox_video_block .small-padding-collapse {
  margin-right: 0;
  margin-left: 0; }
  .lib_lightbox_video_block .small-padding-collapse > .cell {
    padding-right: 0;
    padding-left: 0; }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .medium-margin-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_lightbox_video_block .medium-margin-collapse > .cell {
      margin-right: 0;
      margin-left: 0; } }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .medium-margin-collapse > .small-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-3 {
    width: 25%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-6 {
    width: 50%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-9 {
    width: 75%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .small-12 {
    width: 100%; } }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .medium-margin-collapse > .medium-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-3 {
    width: 25%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-6 {
    width: 50%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-9 {
    width: 75%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .medium-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .medium-margin-collapse > .large-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-3 {
    width: 25%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-6 {
    width: 50%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-9 {
    width: 75%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .medium-margin-collapse > .large-12 {
    width: 100%; } }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .medium-padding-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_lightbox_video_block .medium-padding-collapse > .cell {
      padding-right: 0;
      padding-left: 0; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-margin-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_lightbox_video_block .large-margin-collapse > .cell {
      margin-right: 0;
      margin-left: 0; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-margin-collapse > .small-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-3 {
    width: 25%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-6 {
    width: 50%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-9 {
    width: 75%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .small-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-margin-collapse > .medium-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-3 {
    width: 25%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-6 {
    width: 50%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-9 {
    width: 75%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .medium-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-margin-collapse > .large-1 {
    width: 8.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-2 {
    width: 16.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-3 {
    width: 25%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-4 {
    width: 33.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-5 {
    width: 41.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-6 {
    width: 50%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-7 {
    width: 58.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-8 {
    width: 66.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-9 {
    width: 75%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-10 {
    width: 83.33333%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-11 {
    width: 91.66667%; }
  .lib_lightbox_video_block .large-margin-collapse > .large-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-padding-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_lightbox_video_block .large-padding-collapse > .cell {
      padding-right: 0;
      padding-left: 0; } }

.lib_lightbox_video_block .small-offset-0 {
  margin-left: 0%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-0 {
  margin-left: calc(0% + 0.625rem); }

.lib_lightbox_video_block .small-offset-1 {
  margin-left: 8.33333%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-1 {
  margin-left: calc(8.33333% + 0.625rem); }

.lib_lightbox_video_block .small-offset-2 {
  margin-left: 16.66667%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-2 {
  margin-left: calc(16.66667% + 0.625rem); }

.lib_lightbox_video_block .small-offset-3 {
  margin-left: 25%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-3 {
  margin-left: calc(25% + 0.625rem); }

.lib_lightbox_video_block .small-offset-4 {
  margin-left: 33.33333%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-4 {
  margin-left: calc(33.33333% + 0.625rem); }

.lib_lightbox_video_block .small-offset-5 {
  margin-left: 41.66667%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-5 {
  margin-left: calc(41.66667% + 0.625rem); }

.lib_lightbox_video_block .small-offset-6 {
  margin-left: 50%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-6 {
  margin-left: calc(50% + 0.625rem); }

.lib_lightbox_video_block .small-offset-7 {
  margin-left: 58.33333%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-7 {
  margin-left: calc(58.33333% + 0.625rem); }

.lib_lightbox_video_block .small-offset-8 {
  margin-left: 66.66667%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-8 {
  margin-left: calc(66.66667% + 0.625rem); }

.lib_lightbox_video_block .small-offset-9 {
  margin-left: 75%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-9 {
  margin-left: calc(75% + 0.625rem); }

.lib_lightbox_video_block .small-offset-10 {
  margin-left: 83.33333%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-10 {
  margin-left: calc(83.33333% + 0.625rem); }

.lib_lightbox_video_block .small-offset-11 {
  margin-left: 91.66667%; }

.lib_lightbox_video_block .grid-margin-x > .small-offset-11 {
  margin-left: calc(91.66667% + 0.625rem); }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .medium-offset-0 {
    margin-left: 0%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-0 {
    margin-left: calc(0% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-1 {
    margin-left: 8.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-1 {
    margin-left: calc(8.33333% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-2 {
    margin-left: 16.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-2 {
    margin-left: calc(16.66667% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-3 {
    margin-left: 25%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-3 {
    margin-left: calc(25% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-4 {
    margin-left: 33.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-4 {
    margin-left: calc(33.33333% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-5 {
    margin-left: 41.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-5 {
    margin-left: calc(41.66667% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-6 {
    margin-left: 50%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-6 {
    margin-left: calc(50% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-7 {
    margin-left: 58.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-7 {
    margin-left: calc(58.33333% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-8 {
    margin-left: 66.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-8 {
    margin-left: calc(66.66667% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-9 {
    margin-left: 75%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-9 {
    margin-left: calc(75% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-10 {
    margin-left: 83.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-10 {
    margin-left: calc(83.33333% + 0.9375rem); }
  .lib_lightbox_video_block .medium-offset-11 {
    margin-left: 91.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .medium-offset-11 {
    margin-left: calc(91.66667% + 0.9375rem); } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-offset-0 {
    margin-left: 0%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-0 {
    margin-left: calc(0% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-1 {
    margin-left: 8.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-1 {
    margin-left: calc(8.33333% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-2 {
    margin-left: 16.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-2 {
    margin-left: calc(16.66667% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-3 {
    margin-left: 25%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-3 {
    margin-left: calc(25% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-4 {
    margin-left: 33.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-4 {
    margin-left: calc(33.33333% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-5 {
    margin-left: 41.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-5 {
    margin-left: calc(41.66667% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-6 {
    margin-left: 50%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-6 {
    margin-left: calc(50% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-7 {
    margin-left: 58.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-7 {
    margin-left: calc(58.33333% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-8 {
    margin-left: 66.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-8 {
    margin-left: calc(66.66667% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-9 {
    margin-left: 75%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-9 {
    margin-left: calc(75% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-10 {
    margin-left: 83.33333%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-10 {
    margin-left: calc(83.33333% + 0.9375rem); }
  .lib_lightbox_video_block .large-offset-11 {
    margin-left: 91.66667%; }
  .lib_lightbox_video_block .grid-margin-x > .large-offset-11 {
    margin-left: calc(91.66667% + 0.9375rem); } }

.lib_lightbox_video_block .grid-y {
  display: flex;
  flex-flow: column nowrap; }
  .lib_lightbox_video_block .grid-y > .cell {
    width: auto;
    max-width: none; }
  .lib_lightbox_video_block .grid-y > .auto {
    height: auto; }
  .lib_lightbox_video_block .grid-y > .shrink {
    height: auto; }
  .lib_lightbox_video_block .grid-y > .small-shrink, .lib_lightbox_video_block .grid-y > .small-full, .lib_lightbox_video_block .grid-y > .small-1, .lib_lightbox_video_block .grid-y > .small-2, .lib_lightbox_video_block .grid-y > .small-3, .lib_lightbox_video_block .grid-y > .small-4, .lib_lightbox_video_block .grid-y > .small-5, .lib_lightbox_video_block .grid-y > .small-6, .lib_lightbox_video_block .grid-y > .small-7, .lib_lightbox_video_block .grid-y > .small-8, .lib_lightbox_video_block .grid-y > .small-9, .lib_lightbox_video_block .grid-y > .small-10, .lib_lightbox_video_block .grid-y > .small-11, .lib_lightbox_video_block .grid-y > .small-12 {
    flex-basis: auto; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-y > .medium-shrink, .lib_lightbox_video_block .grid-y > .medium-full, .lib_lightbox_video_block .grid-y > .medium-1, .lib_lightbox_video_block .grid-y > .medium-2, .lib_lightbox_video_block .grid-y > .medium-3, .lib_lightbox_video_block .grid-y > .medium-4, .lib_lightbox_video_block .grid-y > .medium-5, .lib_lightbox_video_block .grid-y > .medium-6, .lib_lightbox_video_block .grid-y > .medium-7, .lib_lightbox_video_block .grid-y > .medium-8, .lib_lightbox_video_block .grid-y > .medium-9, .lib_lightbox_video_block .grid-y > .medium-10, .lib_lightbox_video_block .grid-y > .medium-11, .lib_lightbox_video_block .grid-y > .medium-12 {
      flex-basis: auto; } }
  @media print, screen and (min-width: 64em) {
    .lib_lightbox_video_block .grid-y > .large-shrink, .lib_lightbox_video_block .grid-y > .large-full, .lib_lightbox_video_block .grid-y > .large-1, .lib_lightbox_video_block .grid-y > .large-2, .lib_lightbox_video_block .grid-y > .large-3, .lib_lightbox_video_block .grid-y > .large-4, .lib_lightbox_video_block .grid-y > .large-5, .lib_lightbox_video_block .grid-y > .large-6, .lib_lightbox_video_block .grid-y > .large-7, .lib_lightbox_video_block .grid-y > .large-8, .lib_lightbox_video_block .grid-y > .large-9, .lib_lightbox_video_block .grid-y > .large-10, .lib_lightbox_video_block .grid-y > .large-11, .lib_lightbox_video_block .grid-y > .large-12 {
      flex-basis: auto; } }
  .lib_lightbox_video_block .grid-y > .small-1 {
    height: 8.33333%; }
  .lib_lightbox_video_block .grid-y > .small-2 {
    height: 16.66667%; }
  .lib_lightbox_video_block .grid-y > .small-3 {
    height: 25%; }
  .lib_lightbox_video_block .grid-y > .small-4 {
    height: 33.33333%; }
  .lib_lightbox_video_block .grid-y > .small-5 {
    height: 41.66667%; }
  .lib_lightbox_video_block .grid-y > .small-6 {
    height: 50%; }
  .lib_lightbox_video_block .grid-y > .small-7 {
    height: 58.33333%; }
  .lib_lightbox_video_block .grid-y > .small-8 {
    height: 66.66667%; }
  .lib_lightbox_video_block .grid-y > .small-9 {
    height: 75%; }
  .lib_lightbox_video_block .grid-y > .small-10 {
    height: 83.33333%; }
  .lib_lightbox_video_block .grid-y > .small-11 {
    height: 91.66667%; }
  .lib_lightbox_video_block .grid-y > .small-12 {
    height: 100%; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-y > .medium-auto {
      flex: 1 1 0px;
      height: auto; }
    .lib_lightbox_video_block .grid-y > .medium-shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-y > .medium-1 {
      height: 8.33333%; }
    .lib_lightbox_video_block .grid-y > .medium-2 {
      height: 16.66667%; }
    .lib_lightbox_video_block .grid-y > .medium-3 {
      height: 25%; }
    .lib_lightbox_video_block .grid-y > .medium-4 {
      height: 33.33333%; }
    .lib_lightbox_video_block .grid-y > .medium-5 {
      height: 41.66667%; }
    .lib_lightbox_video_block .grid-y > .medium-6 {
      height: 50%; }
    .lib_lightbox_video_block .grid-y > .medium-7 {
      height: 58.33333%; }
    .lib_lightbox_video_block .grid-y > .medium-8 {
      height: 66.66667%; }
    .lib_lightbox_video_block .grid-y > .medium-9 {
      height: 75%; }
    .lib_lightbox_video_block .grid-y > .medium-10 {
      height: 83.33333%; }
    .lib_lightbox_video_block .grid-y > .medium-11 {
      height: 91.66667%; }
    .lib_lightbox_video_block .grid-y > .medium-12 {
      height: 100%; } }
  @media print, screen and (min-width: 64em) {
    .lib_lightbox_video_block .grid-y > .large-auto {
      flex: 1 1 0px;
      height: auto; }
    .lib_lightbox_video_block .grid-y > .large-shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-y > .large-1 {
      height: 8.33333%; }
    .lib_lightbox_video_block .grid-y > .large-2 {
      height: 16.66667%; }
    .lib_lightbox_video_block .grid-y > .large-3 {
      height: 25%; }
    .lib_lightbox_video_block .grid-y > .large-4 {
      height: 33.33333%; }
    .lib_lightbox_video_block .grid-y > .large-5 {
      height: 41.66667%; }
    .lib_lightbox_video_block .grid-y > .large-6 {
      height: 50%; }
    .lib_lightbox_video_block .grid-y > .large-7 {
      height: 58.33333%; }
    .lib_lightbox_video_block .grid-y > .large-8 {
      height: 66.66667%; }
    .lib_lightbox_video_block .grid-y > .large-9 {
      height: 75%; }
    .lib_lightbox_video_block .grid-y > .large-10 {
      height: 83.33333%; }
    .lib_lightbox_video_block .grid-y > .large-11 {
      height: 91.66667%; }
    .lib_lightbox_video_block .grid-y > .large-12 {
      height: 100%; } }

.lib_lightbox_video_block .grid-padding-y .grid-padding-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-padding-y .grid-padding-y {
      margin-top: -0.9375rem;
      margin-bottom: -0.9375rem; } }

.lib_lightbox_video_block .grid-padding-y > .cell {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-padding-y > .cell {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem; } }

.lib_lightbox_video_block .grid-margin-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-y {
      margin-top: -0.9375rem;
      margin-bottom: -0.9375rem; } }
  .lib_lightbox_video_block .grid-margin-y > .cell {
    height: calc(100% - 1.25rem);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-y > .cell {
      height: calc(100% - 1.875rem);
      margin-top: 0.9375rem;
      margin-bottom: 0.9375rem; } }
  .lib_lightbox_video_block .grid-margin-y > .auto {
    height: auto; }
  .lib_lightbox_video_block .grid-margin-y > .shrink {
    height: auto; }
  .lib_lightbox_video_block .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-3 {
    height: calc(25% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-6 {
    height: calc(50% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-9 {
    height: calc(75% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-12 {
    height: calc(100% - 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-y > .auto {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .small-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-3 {
      height: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-6 {
      height: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-9 {
      height: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-12 {
      height: calc(100% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-auto {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .medium-shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .medium-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-3 {
      height: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-6 {
      height: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-9 {
      height: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-12 {
      height: calc(100% - 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_lightbox_video_block .grid-margin-y > .large-auto {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .large-shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .large-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-3 {
      height: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-6 {
      height: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-9 {
      height: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-12 {
      height: calc(100% - 1.875rem); } }

.lib_lightbox_video_block .grid-frame {
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100vw; }

.lib_lightbox_video_block .cell .grid-frame {
  width: 100%; }

.lib_lightbox_video_block .cell-block {
  overflow-x: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-stype: -ms-autohiding-scrollbar; }

.lib_lightbox_video_block .cell-block-y {
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-stype: -ms-autohiding-scrollbar; }

.lib_lightbox_video_block .cell-block-container {
  display: flex;
  flex-direction: column;
  max-height: 100%; }
  .lib_lightbox_video_block .cell-block-container > .grid-x {
    max-height: 100%;
    flex-wrap: nowrap; }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .medium-grid-frame {
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw; }
  .lib_lightbox_video_block .cell .medium-grid-frame {
    width: 100%; }
  .lib_lightbox_video_block .medium-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; }
  .lib_lightbox_video_block .medium-cell-block-container {
    display: flex;
    flex-direction: column;
    max-height: 100%; }
    .lib_lightbox_video_block .medium-cell-block-container > .grid-x {
      max-height: 100%;
      flex-wrap: nowrap; }
  .lib_lightbox_video_block .medium-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .large-grid-frame {
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw; }
  .lib_lightbox_video_block .cell .large-grid-frame {
    width: 100%; }
  .lib_lightbox_video_block .large-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; }
  .lib_lightbox_video_block .large-cell-block-container {
    display: flex;
    flex-direction: column;
    max-height: 100%; }
    .lib_lightbox_video_block .large-cell-block-container > .grid-x {
      max-height: 100%;
      flex-wrap: nowrap; }
  .lib_lightbox_video_block .large-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; } }

.lib_lightbox_video_block .grid-y.grid-frame {
  width: auto;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100vh; }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .grid-y.medium-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100vh; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .grid-y.large-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100vh; } }

.lib_lightbox_video_block .cell .grid-y.grid-frame {
  height: 100%; }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .cell .grid-y.medium-grid-frame {
    height: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .cell .grid-y.large-grid-frame {
    height: 100%; } }

.lib_lightbox_video_block .grid-margin-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-y {
      margin-top: -0.9375rem;
      margin-bottom: -0.9375rem; } }
  .lib_lightbox_video_block .grid-margin-y > .cell {
    height: calc(100% - 1.25rem);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-y > .cell {
      height: calc(100% - 1.875rem);
      margin-top: 0.9375rem;
      margin-bottom: 0.9375rem; } }
  .lib_lightbox_video_block .grid-margin-y > .auto {
    height: auto; }
  .lib_lightbox_video_block .grid-margin-y > .shrink {
    height: auto; }
  .lib_lightbox_video_block .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-3 {
    height: calc(25% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-6 {
    height: calc(50% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-9 {
    height: calc(75% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.25rem); }
  .lib_lightbox_video_block .grid-margin-y > .small-12 {
    height: calc(100% - 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-margin-y > .auto {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .small-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-3 {
      height: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-6 {
      height: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-9 {
      height: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .small-12 {
      height: calc(100% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-auto {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .medium-shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .medium-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-3 {
      height: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-6 {
      height: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-9 {
      height: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .medium-12 {
      height: calc(100% - 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_lightbox_video_block .grid-margin-y > .large-auto {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .large-shrink {
      height: auto; }
    .lib_lightbox_video_block .grid-margin-y > .large-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-3 {
      height: calc(25% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-6 {
      height: calc(50% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-9 {
      height: calc(75% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_lightbox_video_block .grid-margin-y > .large-12 {
      height: calc(100% - 1.875rem); } }

.lib_lightbox_video_block .grid-frame.grid-margin-y {
  height: calc(100vh + 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_lightbox_video_block .grid-frame.grid-margin-y {
      height: calc(100vh + 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_lightbox_video_block .grid-frame.grid-margin-y {
      height: calc(100vh + 1.875rem); } }

@media print, screen and (min-width: 40em) {
  .lib_lightbox_video_block .grid-margin-y.medium-grid-frame {
    height: calc(100vh + 1.875rem); } }

@media print, screen and (min-width: 64em) {
  .lib_lightbox_video_block .grid-margin-y.large-grid-frame {
    height: calc(100vh + 1.875rem); } }

.lib_lightbox_video_block .thumbnail {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0; }

.lib_lightbox_video_block a.thumbnail {
  transition: box-shadow 200ms ease-out; }
  .lib_lightbox_video_block a.thumbnail:hover, .lib_lightbox_video_block a.thumbnail:focus {
    box-shadow: 0 0 6px 1px rgba(23, 121, 186, 0.5); }
  .lib_lightbox_video_block a.thumbnail image {
    box-shadow: none; }

.lib_lightbox_video_block .grid-x {
  margin-bottom: 30px; }

.lib_lightbox_video_block .thumbnail {
  text-decoration: none;
  color: white;
  font-size: 16px; }
  .lib_lightbox_video_block .thumbnail img {
    max-width: 100%; }

.lib_lightbox_video_block select {
  background-image: none;
  vertical-align: initial; }

.lib_lightbox_video_block .imgContainer {
  position: relative;
  background-size: cover;
  width: 360px;
  background-position: center center; }
  .lib_lightbox_video_block .imgContainer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.38889%; }
  .lib_lightbox_video_block .imgContainer > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.lib_lightbox_video_block .videoPreview {
  width: 100%;
  display: none; }
  .lib_lightbox_video_block .videoPreview.show {
    display: block; }
  .lib_lightbox_video_block .videoPreview > .button {
    margin-bottom: 20px; }
  .lib_lightbox_video_block .videoPreview .videoBox {
    position: relative;
    position: relative;
    top: 0;
    width: 100%;
    display: none; }
    .lib_lightbox_video_block .videoPreview .videoBox:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    .lib_lightbox_video_block .videoPreview .videoBox > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .lib_lightbox_video_block .videoPreview .videoBox.active {
      display: block; }
    .lib_lightbox_video_block .videoPreview .videoBox iframe {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%; }
    .lib_lightbox_video_block .videoPreview .videoBox video {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%; }
  .lib_lightbox_video_block .videoPreview .instructions {
    position: relative;
    width: 100%; }

.lib_lightbox_video_block .noImg {
  width: 360px;
  height: 203px;
  text-align: center;
  background: #cbcbcb;
  line-height: 200px; }
