.videoBlock {
  width: 100%;
  position: relative;
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .videoBlock:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .videoBlock > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .videoBlock .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    opacity: .75;
    transition: opacity .25s ease; }
  .videoBlock:hover .play-btn {
    opacity: 1; }
  .videoBlock .copy {
    opacity: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    transition: opacity .25s linear; }
    .videoBlock .copy h2 {
      margin: 0;
      font-family: AN-Reg;
      font-size: 20px;
      font-weight: 800;
      line-height: 1em;
      color: #fff;
      text-transform: uppercase;
      margin-right: 20px;
      margin-bottom: 5px; }
    .videoBlock .copy p {
      margin: 0;
      color: #fff; }
  .videoBlock.loaded .copy {
    opacity: 1; }
