.form-main-container {
    margin: 30px 100px;
}

.form-error {
    display: none;
    margin-top: -.5rem;
    margin-bottom: 2rem;
    font-size: 1rem !important;
    font-weight: 700;
    color: #ffae00 !important;
}

@media screen and (max-width: 714px) {
    .form-main-container {
        margin: 0;
    }
}

.title-container {
    display: block;
    text-align: center;
}

.outer-form-wrapper {
    background: rgba(0,0,0,.5);
}

._form-content {
    padding: 30px;
    padding-top: 20px;
}

._form-content input {
    text-transform: uppercase;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-left: 0;
    font-size: .9rem;
}

._form-content input:focus {
    background: transparent;
    outline: none !important;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #E0228E;
}

@media (max-width: 1165px){
    ._form-content input {
        font-size: .9rem;
    }

    ._form-content input:focus {
        font-size: .9rem;
    }
}
@media (max-width: 1110px){
    ._form-content input {
        font-size: .85rem;
    }

    ._form-content input:focus {
        font-size: .85rem;
    }
}
@media (max-width: 1085px){
    ._form-content input {
        font-size: .8rem;
    }

    ._form-content input:focus {
        font-size: .8rem;
    }
}
@media (max-width: 1058px){
    ._form-content input {
        font-size: .75rem;
    }

    ._form-content input:focus {
        font-size: .75rem;
    }
}
@media (max-width: 1032px){
    ._form-content input {
        font-size: .7rem;
    }

    ._form-content input:focus {
        font-size: .7rem;
    }
}
@media (max-width: 1023px){
    ._form-content input {
        font-size: inherit;
    }

    ._form-content input:focus {
        font-size: inherit;
    }
}
@media (max-width: 400px){
    ._form-content input {
        font-size: .7rem;
    }

    ._form-content input:focus {
        font-size: .7rem;
    }
}

._form-content h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0 !important;
}
.policy-link {
    font-size: 12px;
    color: white;
    text-decoration: underline;
}
.policy-link:hover {
    color: white;
    text-decoration: underline;
}
.submit-btn {
    padding: 15px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0 0 0;
    cursor: pointer;
    text-transform: uppercase;
    background: rgba(0,0,0,.5);
    border: 2px solid white;
    color: #fff;
}