
.artist-block {
  /* height: 323px !important; */
}

.artist-list {
  font-size: 12px;
  list-style-type: none;
  -moz-column-count: 5;
  -moz-column-gap: 10px;
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  column-count: 5;
  column-gap: 10px;
  margin-left: 0;
  -webkit-column-width: 16%;
  -moz-column-width: 16%;
  column-width: 16%;
}

.line-up-header {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 30px !important;
}

.lineup-header-col {
  padding-left: 0 !important;
}

.artist-list li {
  line-height: 22px;
}

.artist-list li a {
  display: block;
  color: #000;
  width: 100%;
  line-height: 20px;
}

.sort-row {
  border-bottom: 1px solid #000;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 20px;
  max-width: 100% !important;
}

.lineup-filter-by {
  border: none;
  margin: 0;
  width: 50%;
  float: right;
}

.lineup-filter-by:focus {
  border: none;
  outline: 0;
  box-shadow: none;
  transition: none;
}

#ajax-results {
  position: relative;
}

.ds-card-wrapper {
  position: relative;
}

.ds-card {
  font-family: "AN-Thin";
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  padding: 35px 18px;
  width: calc(25% - ( 0.75 * 30px ) );
  margin-bottom: 30px;
  margin-right: 30px;
  color: #fff;
  float: left;
  /* text-align: center; */
  transition: all .2s ease-in-out;
  cursor: pointer;
  height: 400px;

}

@media screen and (max-width: 714px) {
  .ds-card {
    width: 100%;
  }
}

.ds-card::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 75%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 75%);
	content: '';
	opacity: 1;
	-webkit-transform: translate3d(0);
	transform: translate3d(0);
}


.ds-card:hover {
  background-color: rgb(245, 245, 245);
  border-top: 2px solid #636363;
  border-bottom: 2px solid #444444;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, .5);
  transform: scale(1.025);
  z-index: 2;
}

.ds-card:nth-of-type(4n) {
  clear: right;
  margin-right: 0;
}

.ds-card-image {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  height: auto;
  border-radius: 50%;
}

.ds-card-title {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px !important;
}

.ds-card-title a {
  font-family: "AN-Reg";
  color: #fff;
}


.card-info-wrapper {
  position: absolute;
  bottom: 20px;
  display: block;

}

.ds-card-info {
  margin: 0;
  /* padding: 0 20px; */
  font-size: 17px;
  line-height: .75;
  font-weight: 300;
  /* text-align: center; */
}

.ds-card-artist-name {
  display: block;
  font-size: 14px;
  font-style: italic;
}

.ds-card-actions {
  justify-content: space-between;
  color: #fff;

}

.ds-card-website {
  font-size: 11px;
  width: 25px;
  height: 25px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
}
.ds-card-actions__item {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}
.ds-card-actions__item:hover {
  color: #8b95a8;
}

.showinfo {
  display: block;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 200px;
  background-color: #fff;
}
