@import 'foundation';
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	>.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.lib_gallery_form_container {
	@include foundation-forms;
	@include foundation-xy-grid-classes;
	@include foundation-card;
	input[type='radio']{
		margin:0 0 .4em;
	}

	select {
		background-image: none;
		vertical-align: initial;
	}
	.grid-x {
		margin-bottom: 30px;
	}
	#lib_gallery_images {
		div {
			position: relative;
		}
		.lib-responsive-image {
			width: 100%;
			height: auto;
		}
		.img-preview {
			@include aspect-ratio(1,1);
			width: 100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 0;
		}
		.lib-admin_ui--image_item--remove {
			display: inline-block;
			text-decoration: none;
			color: white;
			z-index: 1;
			background: black;
			width: 25px;
			height: 25px;
			text-align: center;
			top: -10px;
			right: -10px;
			font-size: 15px;
			line-height: 25px;
			position: absolute;
			border-radius: 50%;
		}
		.socialLink {
			display: none;
			&.active {
				display: flex;
			}
			.twitterHandle {
				position: relative;
				padding-left: 55px;
				&:before {
					content: '@';
					display: inline-block;
					position: absolute;
					left: 0;
					height: 100%;
					width: 50px;
					background: rgb(143, 143, 143);
				}
			}
		}

	}
}
