@mixin linear-gradient($direction, $color-stops...) {
	background: nth(nth($color-stops, 1), 1);
	background: linear-gradient($direction, $color-stops);
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	>.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
$gallery-hover-gradient-start: rgba(0,0,0,0);
$gallery-hover-gradient-end: rgba(0,0,0,0.5);
$gallery-nav-arrow-gradient-start: rgba(0,0,0,0);
$gallery-nav-arrow-gradient-end: rgba(0,0,0,0.5);
$gallery-nav-arrow-gradient-end-hover: rgba(0,0,0,0.55);
$gallery-space-between: 2px;

@import 'components/gallery';