@import 'foundation';
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	>.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.lib_lightbox_video_block {
	@include foundation-forms;
	@include foundation-xy-grid-classes;
	// @include foundation-button;
	@include foundation-thumbnail;

	.grid-x {
		margin-bottom: 30px;
	}

	.thumbnail {
		text-decoration: none;
		color: white;
		font-size: 16px;
		img {
			max-width: 100%;
		}
	}
	select {
		background-image: none;
		vertical-align: initial;
	}
	.imgContainer {
		@include aspect-ratio(360,203);
		background-size: cover;
		width: 360px;
    	background-position: center center;
	}
	.videoPreview {
		// @include aspect-ratio(16,9);
		width: 100%;
		display: none;
		&.show {
			display: block;
		}
		>.button {
			margin-bottom: 20px;
		}
		.videoBox {
			@include aspect-ratio(16,9);
			position: relative;
			top: 0;
			width: 100%;
			display: none;
			&.active {
				display: block;
			}
			iframe {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
			video {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}

		}
		.instructions {
			position: relative;
			width: 100%;
		}

	}
	.noImg {
		width: 360px;
		height: 203px;
		text-align: center;
		background: #cbcbcb;
		line-height: 200px;
	}

}
