@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	>.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
@mixin linear-gradient($direction, $color-stops...) {
	background: nth(nth($color-stops, 1), 1);
	background: linear-gradient($direction, $color-stops);
}
.videoBlock {
	width: 100%;
	@include aspect-ratio(16,9);
	cursor: pointer;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 4rem;
		color: white;
		opacity: .75;
		transition: opacity .25s ease;
	}
	// .play-button {
	// 	width: 5em;
	// 	height: 5em;
	// 	border: .25em solid white;
	// 	border-radius: 50%;
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%,-50%);
	// 	cursor: pointer;
	// 	opacity: .75;
	// 	&:before {
	// 		content: '';
	// 		display: block;
	// 		margin: 0 auto;
	// 		top: 50%;
	// 		transform: translate(-50%,-50%);
	// 		position: relative;
	// 		left: 50%;
	// 		width: 3em;
	// 		height: 0;
	// 		border-style: solid;
	// 		border-width: 1.25em 0 1.25em 2em;
	// 		border-color: transparent transparent transparent #fff;
	// 	}
	// }
	&:hover {
		.play-btn {
			opacity: 1;
		}
	}
	.copy {
		opacity: 0;
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 15px;
		background: linear-gradient(to top, rgba(0,0,0,.5), transparent);
		transition: opacity .25s linear;
		h2 {
			margin: 0;
			font-family: AN-Reg;
			font-size: 20px;
			font-weight: 800;
			line-height: 1em;
			color: #fff;
			text-transform: uppercase;
			margin-right: 20px;
			margin-bottom: 5px;
		}
		p {
			margin: 0;
			color: #fff;
		}
	}
	&.loaded {
		.copy {
			opacity: 1;
		}
	}
}