#columns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.featured-performer {
  /* margin-left: 50%; */
  margin-top: 20%;
  float: right;
}

.featured-performer h2 {
  font-size: 40px;
}

.featured-performer i {
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}

.ideas-section {
  display: block;
  height: auto;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  #columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .featured-performer {
    /* margin-left: 30px; */
    float: left;
    margin-top: 30px;
  }
}

.ideas-white-row p,
.ideas-white-row h2 {
  color: white !important;
}

.ideas-performer__container, .featured-performer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
}

.performer-text {
  margin-left: 20px;
  color: #fff;
}

.ideas-performer__container>.performer-text h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1em;
  font-weight: 800;
  font-family: "AN-Reg";
}

.image-cropper {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper.featured {
  width: 200px;
  height: 200px;
}

img.performer-image {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  max-width: inherit;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.rounded {
  border-radius: 100%;
}

.artist-image {
  max-width: 1024px;
}


.login-modal {
  background: #fff;
}

._form-register {
  padding: 0;
}

.login-modal h4 {
  margin-bottom: 30px;
}

.login-modal .divider {
  margin: 20px 0;
}

._form-register input {
  /* text-transform: uppercase; */
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  transition: none;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: .9rem;
}

._form-register input:focus {
  outline: 0;
  border: none;
  background-color: #fff;
  box-shadow: none;
  transition: none;
}

.artist-list {
  font-size: 12px;
  list-style-type: none;
  /* -moz-column-count: 5;
  -moz-column-gap: 10px;
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  column-count: 5;
  column-gap: 10px; */
  margin-left: 0;
  width: 100%;
  /* -webkit-column-width: 16%;
  -moz-column-width: 16%;
  column-width: 16%; */
}

.line-up-header {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 30px !important;
}

.lineup-header-col {
  padding-left: 0 !important;
}

.artist-list li {
  line-height: 22px;
  padding: 0 10px;
  /* transition: background .125s linear; */
  position: relative;
  width: 25%;
  float: left;
}

@media (max-width: 800px) {
  .artist-list li {
    width: 33%;
  }
}

@media (max-width: 600px) {
  .artist-list li {
    width: 50%;
  }
}

.artist-list li::after {
  content: '';
  width: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background: black;
  transition: width .125s linear;
  z-index: 1;
}

.artist-list li a {
  display: block;
  color: #000;
  width: 100%;
  line-height: 20px;
  transition: color .125s linear;
  position: relative;
  z-index: 2;
}

.artist-list li:hover {
  /* background: black; */
}

.artist-list li:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  background: black;
  border-left: 2px solid #e0228e;
  /* background: #e0228e; */
}

.artist-list li:hover a {
  color: #fff;
}

.sort-row {
  border-bottom: 1px solid #000;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 20px;
  max-width: 100% !important;
}

.lineup-filter-by {
  border: none;
  margin: 0;
  width: 50%;
  float: right;
}

.lineup-filter-by:focus {
  border: none;
  outline: 0;
  box-shadow: none;
  transition: none;
}

#ajax-results {
  position: relative;
}

.ds-card-wrapper {
  position: relative;
}

.ds-card {
  font-family: "AN-Thin";
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  padding: 35px 18px;
  width: calc(25% - ( 0.75 * 30px));
  margin-bottom: 30px;
  margin-right: 30px;
  color: #fff;
  float: left;
  /* text-align: center; */
  transition: all .2s ease-in-out;
  cursor: pointer;
  height: 400px;
}

@media screen and (max-width: 714px) {
  .ds-card {
    width: 100%;
  }
}

.ds-card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%);
  content: '';
  opacity: 1;
  -webkit-transform: translate3d(0);
  transform: translate3d(0);
}

.ds-card:hover {
  background-color: rgb(245, 245, 245);
  border-top: 2px solid #636363;
  border-bottom: 2px solid #444444;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, .5);
  transform: scale(1.025);
  z-index: 2;
}

.ds-card:nth-of-type(4n) {
  clear: right;
  margin-right: 0;
}

.ds-card-image {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  height: auto;
  border-radius: 50%;
}

.ds-card-title {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px !important;
}

.ds-card-title a {
  font-family: "AN-Reg";
  color: #fff;
}

.card-info-wrapper {
  position: absolute;
  bottom: 20px;
  display: block;
}

.ds-card-info {
  margin: 0;
  /* padding: 0 20px; */
  font-size: 17px;
  line-height: .75;
  font-weight: 300;
  /* text-align: center; */
}

.ds-card-artist-name {
  display: block;
  font-size: 14px;
  font-style: italic;
}

.ds-card-actions {
  justify-content: space-between;
  color: #fff;
}

.ds-card-website {
  font-size: 11px;
  width: 25px;
  height: 25px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
}

.ds-card-actions__item {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.ds-card-actions__item:hover {
  color: #8b95a8;
}

.showinfo {
  display: block;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 200px;
  background-color: #fff;
}

/* Featured artist styles */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.dostuff_featured-artist {
  display: block;
  position: relative;
  width: 100%;
}

.dostuff_featured-artist .dostuff_featured-artist_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  float: left;
  min-height: 400px;
  padding-right: 20px;
  position: relative;
}

.dostuff_featured-artist .dostuff_featured-artist_info>div {
  width: 100%;
  display: block;
  position: relative;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-name {
  display: flex;
  flex-direction: row;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-name h2 {
  display: block;
  flex: 1;
  margin: 0;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-name .btn,
.artist-social .btn {
  display: block;
  position: relative;
  right: 0;
  height: 50px;
  width: auto;
  padding: 0 15px;
  background: black;
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.artist-social .btn {
  display: inline-block;
  position: relative;
  right: 0;
  height: 50px;
  width: 250px;
  padding: 0 15px;
  background: black;
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: super;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-title,
.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-name {
  margin-bottom: 20px;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-show_info {
  margin-bottom: 20px;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-show_info .show-times-link {
  display: block;
  float: left;
  text-transform: uppercase;
  color: #686868;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  padding: 20px;
  overflow-y: auto;
  z-index: 2;
  /* display: none; */
  opacity: 0;
  /* visibility: hidden; */
  /* left: 100%; */
  transition: opacity .5s ease;
  pointer-events: none;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay.active {
  display: block;
  opacity: 1;
  pointer-events: initial;
  /* left: 0; */
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay .close {
  display: block;
  position: absolute;
  /* width: 10px;
  height: 10px; */
  top: 10px;
  cursor: pointer;
  right: 20px;
  font-size: 20px;
  color: white;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay h3 {
  color: white;
  font-size: 24px;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay .time {
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay .time .left {
  /* float: left; */
  display: inline-block;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay .time .right {
  float: right;
  display: inline-block;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-overlay .time .clear {
  clear: both;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-show_info .add-to-itinerary {
  text-transform: uppercase;
  display: block;
  float: right;
  color: #686868;
  position: relative;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-show_info .add-to-itinerary::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #686868;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-bio {
  flex: 1;
}

.dostuff_featured-artist .dostuff_featured-artist_info>div .category {
  width: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.dostuff_featured-artist .dostuff_featured-artist_info>div .details {
  width: 100%;
  display: block;
}

.dostuff_featured-artist .dostuff_featured-artist_info>div .music-embed {
  font-size: 0;
}

.dostuff_featured-artist .dostuff_featured-artist_info>div .music-embed iframe {
  width: 100%;
  height: 80px;
}

.dostuff_featured-artist .dostuff_featured-artist_image {
  width: 50%;
  display: block;
  float: left;
  padding-left: 20px;
}

.dostuff_featured-artist .dostuff_featured-artist_image .bg {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.dostuff_featured-artist .clear {
  clear: both;
}

@media (max-width: 1024px) {
  .dostuff_featured-artist .dostuff_featured-artist_info {
    width: 100%;
    padding: 0;
    min-height: initial;
    height: auto;
    margin-bottom: 20px;
  }
  .dostuff_featured-artist .dostuff_featured-artist_image {
    width: 100%;
    padding: 0;
  }
  .dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-name {
    display: flex;
    flex-direction: column;
  }
  .dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-name h2 {
    margin-bottom: 10px;
  }
  .dostuff_featured-artist .dostuff_featured-artist_info .dostuff_featured-artist_info-name .btn {
    display: inline-block;
    width: 180px;
  }
}