.gallery-module {
	/* Slider */
	.slick-list {
		.slick-loading & {
			background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
		}
	}


	/* Arrows */
	.slick-prev,
	.slick-next {
		position: absolute;
		display: none;
	}
}


.gallery-module {
	// width: 100%;
	// overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	display: none;
	&.slick-initialized {
		display: block;
	}
	.galleryPrevArrow {
		display: block;
		position: absolute;
		height: 100%;
		cursor: pointer;
		width: 100px;
		top: 0;
		left: 0;
		z-index: 2;
		background: linear-gradient(to left, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end);
		&:hover {
			background: linear-gradient(to left, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end-hover);
		}
		span {
			background-image: url('../images/icons/prev-arrow.svg'), none;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 35px;
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0 auto;
		}
	}
	.galleryNextArrow {
		display: block;
		position: absolute;
		height: 100%;
		cursor: pointer;
		width: 100px;
		top: 0;
		right: 0;
		z-index: 2;
		background: linear-gradient(to right, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end);
		&:hover {
			background: linear-gradient(to right, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end-hover);
		}
		span {
			background-image: url('../images/icons/next-arrow.svg'), none;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 35px;
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0 auto;
		}
	}
	figure {
		position: relative;
		width: 250px;
		height: 250px;
		margin-right: $gallery-space-between;
		overflow: hidden;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		direction: ltr;
		// background-color: #000;
		@include aspect-ratio(1,1);
		cursor: pointer;
		>a {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			cursor: pointer;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 1;
		}
		figcaption {
			position: absolute;
			width: 100%;
			bottom: -72px;
			z-index: 2;
			transition: .125s bottom ease;
			padding: 10px;
			background: linear-gradient(to bottom, $gallery-hover-gradient-start, $gallery-hover-gradient-end);
			h2 {
				font-family: AN-Reg;
				font-size: 20px;
				font-weight: 800;
				margin: 0;
				color: white;
			}
			p {
				font-size: 12px;
				margin: 0;
				color: #fddd00;
				font-style: italic;
				a {
					// display: initial;
					// position: initial;
					position: relative;
					z-index: 99;
					text-decoration: none;
					color: #fddd00;
				}
			}
		}
		&:hover {
			figcaption {
				bottom: 0;
			}
		}
	}
	&.rtl {
		figure {
			figcaption {
				text-align: right;
			}
		}
	}
}