.gallery-logo-module {
	/* Slider */
	.slick-list {
		.slick-loading & {
			background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
		}
	}
	/* Arrows */
	.slick-prev,
	.slick-next {
		position: absolute;
		display: none;
	}
}

.gallery-logo-module_grid {
	// display: flex;
	// flex-direction: row;
	.clear-fix {
		clear: both;
	}
	figure {
		// flex: 1;
		display: block;
		float: left;
		width: calc(100% / 7);
		@include aspect-ratio(1,1);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		@media (max-width: 800px){
			width: calc(100% / 4);
		}
		@media (max-width: 750px){
			width: calc(100% / 3);
		}
		>a {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		// &:nth-child(n+2) {
		// 	order: 1;
		// }
		// &:nth-child(n+4) {
		// 	order: 2;
		// }
	}
}

.gallery-logo-module {
	position: relative;
	margin-bottom: 20px;
	&.slick-initialized {
		display: block;
	}
	.galleryPrevArrow {
		display: block;
		position: absolute;
		height: 100%;
		cursor: pointer;
		width: 100px;
		top: 0;
		left: 0;
		z-index: 2;
		background: linear-gradient(to left, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end);
		// &:hover {
		// 	background: linear-gradient(to left, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end-hover);
		// }
		span {
			background-image: url('../images/icons/prev-arrow.svg'), none;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 35px;
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0 auto;
		}
	}
	.galleryNextArrow {
		display: block;
		position: absolute;
		height: 100%;
		cursor: pointer;
		width: 100px;
		top: 0;
		right: 0;
		z-index: 2;
		background: linear-gradient(to right, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end);
		// &:hover {
		// 	background: linear-gradient(to right, $gallery-nav-arrow-gradient-start, $gallery-nav-arrow-gradient-end-hover);
		// }
		span {
			background-image: url('../images/icons/next-arrow.svg'), none;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 35px;
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0 auto;
		}
	}
	figure {

		position: relative;
		width: 250px;
		height: 250px;
		margin-right: $gallery-space-between;
		margin-left: $gallery-space-between;
		overflow: hidden;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		direction: ltr;
		// background-color: #000;
		@include aspect-ratio(1,1);
		// cursor: pointer;
		>a {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			// cursor: pointer;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 1;
		}

	}
}