/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.lib_logo_slider_form_container [type='text'], .lib_logo_slider_form_container [type='password'], .lib_logo_slider_form_container [type='date'], .lib_logo_slider_form_container [type='datetime'], .lib_logo_slider_form_container [type='datetime-local'], .lib_logo_slider_form_container [type='month'], .lib_logo_slider_form_container [type='week'], .lib_logo_slider_form_container [type='email'], .lib_logo_slider_form_container [type='number'], .lib_logo_slider_form_container [type='search'], .lib_logo_slider_form_container [type='tel'], .lib_logo_slider_form_container [type='time'], .lib_logo_slider_form_container [type='url'], .lib_logo_slider_form_container [type='color'],
.lib_logo_slider_form_container textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none; }
  .lib_logo_slider_form_container [type='text']:focus, .lib_logo_slider_form_container [type='password']:focus, .lib_logo_slider_form_container [type='date']:focus, .lib_logo_slider_form_container [type='datetime']:focus, .lib_logo_slider_form_container [type='datetime-local']:focus, .lib_logo_slider_form_container [type='month']:focus, .lib_logo_slider_form_container [type='week']:focus, .lib_logo_slider_form_container [type='email']:focus, .lib_logo_slider_form_container [type='number']:focus, .lib_logo_slider_form_container [type='search']:focus, .lib_logo_slider_form_container [type='tel']:focus, .lib_logo_slider_form_container [type='time']:focus, .lib_logo_slider_form_container [type='url']:focus, .lib_logo_slider_form_container [type='color']:focus,
  .lib_logo_slider_form_container textarea:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

.lib_logo_slider_form_container textarea {
  max-width: 100%; }
  .lib_logo_slider_form_container textarea[rows] {
    height: auto; }

.lib_logo_slider_form_container input::placeholder,
.lib_logo_slider_form_container textarea::placeholder {
  color: #cacaca; }

.lib_logo_slider_form_container input:disabled, .lib_logo_slider_form_container input[readonly],
.lib_logo_slider_form_container textarea:disabled,
.lib_logo_slider_form_container textarea[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed; }

.lib_logo_slider_form_container [type='submit'],
.lib_logo_slider_form_container [type='button'] {
  appearance: none;
  border-radius: 0; }

.lib_logo_slider_form_container input[type='search'] {
  box-sizing: border-box; }

.lib_logo_slider_form_container [type='file'],
.lib_logo_slider_form_container [type='checkbox'],
.lib_logo_slider_form_container [type='radio'] {
  margin: 0 0 1rem; }

.lib_logo_slider_form_container [type='checkbox'] + label,
.lib_logo_slider_form_container [type='radio'] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0; }
  .lib_logo_slider_form_container [type='checkbox'] + label[for],
  .lib_logo_slider_form_container [type='radio'] + label[for] {
    cursor: pointer; }

.lib_logo_slider_form_container label > [type='checkbox'],
.lib_logo_slider_form_container label > [type='radio'] {
  margin-right: 0.5rem; }

.lib_logo_slider_form_container [type='file'] {
  width: 100%; }

.lib_logo_slider_form_container label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  color: #0a0a0a; }
  .lib_logo_slider_form_container label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0; }

.lib_logo_slider_form_container .help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #0a0a0a; }

.lib_logo_slider_form_container .input-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: stretch; }
  .lib_logo_slider_form_container .input-group > :first-child {
    border-radius: 0 0 0 0; }
  .lib_logo_slider_form_container .input-group > :last-child > * {
    border-radius: 0 0 0 0; }

.lib_logo_slider_form_container .input-group-label, .lib_logo_slider_form_container .input-group-field, .lib_logo_slider_form_container .input-group-button, .lib_logo_slider_form_container .input-group-button a, .lib_logo_slider_form_container .input-group-button input, .lib_logo_slider_form_container .input-group-button button, .lib_logo_slider_form_container .input-group-button label {
  margin: 0;
  white-space: nowrap; }

.lib_logo_slider_form_container .input-group-label {
  padding: 0 1rem;
  border: 1px solid #cacaca;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex: 0 0 auto;
  align-items: center; }
  .lib_logo_slider_form_container .input-group-label:first-child {
    border-right: 0; }
  .lib_logo_slider_form_container .input-group-label:last-child {
    border-left: 0; }

.lib_logo_slider_form_container .input-group-field {
  border-radius: 0;
  flex: 1 1 0px;
  min-width: 0; }

.lib_logo_slider_form_container .input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: flex;
  flex: 0 0 auto; }
  .lib_logo_slider_form_container .input-group-button a,
  .lib_logo_slider_form_container .input-group-button input,
  .lib_logo_slider_form_container .input-group-button button,
  .lib_logo_slider_form_container .input-group-button label {
    height: auto;
    align-self: stretch;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem; }

.lib_logo_slider_form_container fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

.lib_logo_slider_form_container legend {
  max-width: 100%;
  margin-bottom: 0.5rem; }

.lib_logo_slider_form_container .fieldset {
  margin: 1.125rem 0;
  padding: 1.25rem;
  border: 1px solid #cacaca; }
  .lib_logo_slider_form_container .fieldset legend {
    margin: 0;
    margin-left: -0.1875rem;
    padding: 0 0.1875rem; }

.lib_logo_slider_form_container select {
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  appearance: none;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
  @media screen and (min-width: 0\0) {
    .lib_logo_slider_form_container select {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }
  .lib_logo_slider_form_container select:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
  .lib_logo_slider_form_container select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed; }
  .lib_logo_slider_form_container select::-ms-expand {
    display: none; }
  .lib_logo_slider_form_container select[multiple] {
    height: auto;
    background-image: none; }

.lib_logo_slider_form_container .is-invalid-input:not(:focus) {
  border-color: #cc4b37;
  background-color: #f9ecea; }
  .lib_logo_slider_form_container .is-invalid-input:not(:focus)::placeholder {
    color: #cc4b37; }

.lib_logo_slider_form_container .is-invalid-label {
  color: #cc4b37; }

.lib_logo_slider_form_container .form-error {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #cc4b37; }
  .lib_logo_slider_form_container .form-error.is-visible {
    display: block; }

.lib_logo_slider_form_container .grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin: 0 auto; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-container {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .lib_logo_slider_form_container .grid-container.fluid {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 100%;
    margin: 0 auto; }
    @media print, screen and (min-width: 40em) {
      .lib_logo_slider_form_container .grid-container.fluid {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
  .lib_logo_slider_form_container .grid-container.full {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin: 0 auto; }

.lib_logo_slider_form_container .grid-x {
  display: flex;
  flex-flow: row wrap; }

.lib_logo_slider_form_container .cell {
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width: 100%; }
  .lib_logo_slider_form_container .cell.auto {
    flex: 1 1 0px; }
  .lib_logo_slider_form_container .cell.shrink {
    flex: 0 0 auto; }

.lib_logo_slider_form_container .grid-x > .auto {
  width: auto; }

.lib_logo_slider_form_container .grid-x > .shrink {
  width: auto; }

.lib_logo_slider_form_container .grid-x > .small-shrink, .lib_logo_slider_form_container .grid-x > .small-full, .lib_logo_slider_form_container .grid-x > .small-1, .lib_logo_slider_form_container .grid-x > .small-2, .lib_logo_slider_form_container .grid-x > .small-3, .lib_logo_slider_form_container .grid-x > .small-4, .lib_logo_slider_form_container .grid-x > .small-5, .lib_logo_slider_form_container .grid-x > .small-6, .lib_logo_slider_form_container .grid-x > .small-7, .lib_logo_slider_form_container .grid-x > .small-8, .lib_logo_slider_form_container .grid-x > .small-9, .lib_logo_slider_form_container .grid-x > .small-10, .lib_logo_slider_form_container .grid-x > .small-11, .lib_logo_slider_form_container .grid-x > .small-12 {
  flex-basis: auto; }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .grid-x > .medium-shrink, .lib_logo_slider_form_container .grid-x > .medium-full, .lib_logo_slider_form_container .grid-x > .medium-1, .lib_logo_slider_form_container .grid-x > .medium-2, .lib_logo_slider_form_container .grid-x > .medium-3, .lib_logo_slider_form_container .grid-x > .medium-4, .lib_logo_slider_form_container .grid-x > .medium-5, .lib_logo_slider_form_container .grid-x > .medium-6, .lib_logo_slider_form_container .grid-x > .medium-7, .lib_logo_slider_form_container .grid-x > .medium-8, .lib_logo_slider_form_container .grid-x > .medium-9, .lib_logo_slider_form_container .grid-x > .medium-10, .lib_logo_slider_form_container .grid-x > .medium-11, .lib_logo_slider_form_container .grid-x > .medium-12 {
    flex-basis: auto; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .grid-x > .large-shrink, .lib_logo_slider_form_container .grid-x > .large-full, .lib_logo_slider_form_container .grid-x > .large-1, .lib_logo_slider_form_container .grid-x > .large-2, .lib_logo_slider_form_container .grid-x > .large-3, .lib_logo_slider_form_container .grid-x > .large-4, .lib_logo_slider_form_container .grid-x > .large-5, .lib_logo_slider_form_container .grid-x > .large-6, .lib_logo_slider_form_container .grid-x > .large-7, .lib_logo_slider_form_container .grid-x > .large-8, .lib_logo_slider_form_container .grid-x > .large-9, .lib_logo_slider_form_container .grid-x > .large-10, .lib_logo_slider_form_container .grid-x > .large-11, .lib_logo_slider_form_container .grid-x > .large-12 {
    flex-basis: auto; } }

.lib_logo_slider_form_container .grid-x > .small-1 {
  width: 8.33333%; }

.lib_logo_slider_form_container .grid-x > .small-2 {
  width: 16.66667%; }

.lib_logo_slider_form_container .grid-x > .small-3 {
  width: 25%; }

.lib_logo_slider_form_container .grid-x > .small-4 {
  width: 33.33333%; }

.lib_logo_slider_form_container .grid-x > .small-5 {
  width: 41.66667%; }

.lib_logo_slider_form_container .grid-x > .small-6 {
  width: 50%; }

.lib_logo_slider_form_container .grid-x > .small-7 {
  width: 58.33333%; }

.lib_logo_slider_form_container .grid-x > .small-8 {
  width: 66.66667%; }

.lib_logo_slider_form_container .grid-x > .small-9 {
  width: 75%; }

.lib_logo_slider_form_container .grid-x > .small-10 {
  width: 83.33333%; }

.lib_logo_slider_form_container .grid-x > .small-11 {
  width: 91.66667%; }

.lib_logo_slider_form_container .grid-x > .small-12 {
  width: 100%; }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .grid-x > .medium-auto {
    flex: 1 1 0px;
    width: auto; }
  .lib_logo_slider_form_container .grid-x > .medium-shrink {
    flex: 0 0 auto;
    width: auto; }
  .lib_logo_slider_form_container .grid-x > .medium-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .grid-x > .medium-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .grid-x > .medium-3 {
    width: 25%; }
  .lib_logo_slider_form_container .grid-x > .medium-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .grid-x > .medium-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .grid-x > .medium-6 {
    width: 50%; }
  .lib_logo_slider_form_container .grid-x > .medium-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .grid-x > .medium-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .grid-x > .medium-9 {
    width: 75%; }
  .lib_logo_slider_form_container .grid-x > .medium-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .grid-x > .medium-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .grid-x > .medium-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .grid-x > .large-auto {
    flex: 1 1 0px;
    width: auto; }
  .lib_logo_slider_form_container .grid-x > .large-shrink {
    flex: 0 0 auto;
    width: auto; }
  .lib_logo_slider_form_container .grid-x > .large-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .grid-x > .large-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .grid-x > .large-3 {
    width: 25%; }
  .lib_logo_slider_form_container .grid-x > .large-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .grid-x > .large-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .grid-x > .large-6 {
    width: 50%; }
  .lib_logo_slider_form_container .grid-x > .large-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .grid-x > .large-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .grid-x > .large-9 {
    width: 75%; }
  .lib_logo_slider_form_container .grid-x > .large-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .grid-x > .large-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .grid-x > .large-12 {
    width: 100%; } }

.lib_logo_slider_form_container .grid-margin-x:not(.grid-x) > .cell {
  width: auto; }

.lib_logo_slider_form_container .grid-margin-y:not(.grid-y) > .cell {
  height: auto; }

.lib_logo_slider_form_container .grid-margin-x {
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-x {
      margin-left: -0.9375rem;
      margin-right: -0.9375rem; } }
  .lib_logo_slider_form_container .grid-margin-x > .cell {
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-x > .cell {
      width: calc(100% - 1.875rem);
      margin-left: 0.9375rem;
      margin-right: 0.9375rem; } }
  .lib_logo_slider_form_container .grid-margin-x > .auto {
    width: auto; }
  .lib_logo_slider_form_container .grid-margin-x > .shrink {
    width: auto; }
  .lib_logo_slider_form_container .grid-margin-x > .small-1 {
    width: calc(8.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-2 {
    width: calc(16.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-3 {
    width: calc(25% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-4 {
    width: calc(33.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-5 {
    width: calc(41.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-6 {
    width: calc(50% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-7 {
    width: calc(58.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-8 {
    width: calc(66.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-9 {
    width: calc(75% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-10 {
    width: calc(83.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-11 {
    width: calc(91.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x > .small-12 {
    width: calc(100% - 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-x > .auto {
      width: auto; }
    .lib_logo_slider_form_container .grid-margin-x > .shrink {
      width: auto; }
    .lib_logo_slider_form_container .grid-margin-x > .small-1 {
      width: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-2 {
      width: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-3 {
      width: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-4 {
      width: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-5 {
      width: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-6 {
      width: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-7 {
      width: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-8 {
      width: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-9 {
      width: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-10 {
      width: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-11 {
      width: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .small-12 {
      width: calc(100% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-auto {
      width: auto; }
    .lib_logo_slider_form_container .grid-margin-x > .medium-shrink {
      width: auto; }
    .lib_logo_slider_form_container .grid-margin-x > .medium-1 {
      width: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-2 {
      width: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-3 {
      width: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-4 {
      width: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-5 {
      width: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-6 {
      width: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-7 {
      width: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-8 {
      width: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-9 {
      width: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-10 {
      width: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-11 {
      width: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .medium-12 {
      width: calc(100% - 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_logo_slider_form_container .grid-margin-x > .large-auto {
      width: auto; }
    .lib_logo_slider_form_container .grid-margin-x > .large-shrink {
      width: auto; }
    .lib_logo_slider_form_container .grid-margin-x > .large-1 {
      width: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-2 {
      width: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-3 {
      width: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-4 {
      width: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-5 {
      width: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-6 {
      width: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-7 {
      width: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-8 {
      width: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-9 {
      width: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-10 {
      width: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-11 {
      width: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-x > .large-12 {
      width: calc(100% - 1.875rem); } }

.lib_logo_slider_form_container .grid-padding-x .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-padding-x .grid-padding-x {
      margin-right: -0.9375rem;
      margin-left: -0.9375rem; } }

.grid-container:not(.full) > .lib_logo_slider_form_container .grid-padding-x {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid-container:not(.full) > .lib_logo_slider_form_container .grid-padding-x {
      margin-right: -0.9375rem;
      margin-left: -0.9375rem; } }

.lib_logo_slider_form_container .grid-padding-x > .cell {
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-padding-x > .cell {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

.lib_logo_slider_form_container .small-up-1 > .cell {
  width: 100%; }

.lib_logo_slider_form_container .small-up-2 > .cell {
  width: 50%; }

.lib_logo_slider_form_container .small-up-3 > .cell {
  width: 33.33333%; }

.lib_logo_slider_form_container .small-up-4 > .cell {
  width: 25%; }

.lib_logo_slider_form_container .small-up-5 > .cell {
  width: 20%; }

.lib_logo_slider_form_container .small-up-6 > .cell {
  width: 16.66667%; }

.lib_logo_slider_form_container .small-up-7 > .cell {
  width: 14.28571%; }

.lib_logo_slider_form_container .small-up-8 > .cell {
  width: 12.5%; }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .medium-up-1 > .cell {
    width: 100%; }
  .lib_logo_slider_form_container .medium-up-2 > .cell {
    width: 50%; }
  .lib_logo_slider_form_container .medium-up-3 > .cell {
    width: 33.33333%; }
  .lib_logo_slider_form_container .medium-up-4 > .cell {
    width: 25%; }
  .lib_logo_slider_form_container .medium-up-5 > .cell {
    width: 20%; }
  .lib_logo_slider_form_container .medium-up-6 > .cell {
    width: 16.66667%; }
  .lib_logo_slider_form_container .medium-up-7 > .cell {
    width: 14.28571%; }
  .lib_logo_slider_form_container .medium-up-8 > .cell {
    width: 12.5%; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-up-1 > .cell {
    width: 100%; }
  .lib_logo_slider_form_container .large-up-2 > .cell {
    width: 50%; }
  .lib_logo_slider_form_container .large-up-3 > .cell {
    width: 33.33333%; }
  .lib_logo_slider_form_container .large-up-4 > .cell {
    width: 25%; }
  .lib_logo_slider_form_container .large-up-5 > .cell {
    width: 20%; }
  .lib_logo_slider_form_container .large-up-6 > .cell {
    width: 16.66667%; }
  .lib_logo_slider_form_container .large-up-7 > .cell {
    width: 14.28571%; }
  .lib_logo_slider_form_container .large-up-8 > .cell {
    width: 12.5%; } }

.lib_logo_slider_form_container .grid-margin-x.small-up-1 > .cell {
  width: calc(100% - 1.25rem); }

.lib_logo_slider_form_container .grid-margin-x.small-up-2 > .cell {
  width: calc(50% - 1.25rem); }

.lib_logo_slider_form_container .grid-margin-x.small-up-3 > .cell {
  width: calc(33.33333% - 1.25rem); }

.lib_logo_slider_form_container .grid-margin-x.small-up-4 > .cell {
  width: calc(25% - 1.25rem); }

.lib_logo_slider_form_container .grid-margin-x.small-up-5 > .cell {
  width: calc(20% - 1.25rem); }

.lib_logo_slider_form_container .grid-margin-x.small-up-6 > .cell {
  width: calc(16.66667% - 1.25rem); }

.lib_logo_slider_form_container .grid-margin-x.small-up-7 > .cell {
  width: calc(14.28571% - 1.25rem); }

.lib_logo_slider_form_container .grid-margin-x.small-up-8 > .cell {
  width: calc(12.5% - 1.25rem); }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .grid-margin-x.small-up-1 > .cell {
    width: calc(100% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.small-up-2 > .cell {
    width: calc(50% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.small-up-3 > .cell {
    width: calc(33.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.small-up-4 > .cell {
    width: calc(25% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.small-up-5 > .cell {
    width: calc(20% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.small-up-6 > .cell {
    width: calc(16.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.small-up-7 > .cell {
    width: calc(14.28571% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.small-up-8 > .cell {
    width: calc(12.5% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-1 > .cell {
    width: calc(100% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-2 > .cell {
    width: calc(50% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-3 > .cell {
    width: calc(33.33333% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-4 > .cell {
    width: calc(25% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-5 > .cell {
    width: calc(20% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-6 > .cell {
    width: calc(16.66667% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-7 > .cell {
    width: calc(14.28571% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.medium-up-8 > .cell {
    width: calc(12.5% - 1.875rem); } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .grid-margin-x.large-up-1 > .cell {
    width: calc(100% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.large-up-2 > .cell {
    width: calc(50% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.large-up-3 > .cell {
    width: calc(33.33333% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.large-up-4 > .cell {
    width: calc(25% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.large-up-5 > .cell {
    width: calc(20% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.large-up-6 > .cell {
    width: calc(16.66667% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.large-up-7 > .cell {
    width: calc(14.28571% - 1.875rem); }
  .lib_logo_slider_form_container .grid-margin-x.large-up-8 > .cell {
    width: calc(12.5% - 1.875rem); } }

.lib_logo_slider_form_container .small-margin-collapse {
  margin-right: 0;
  margin-left: 0; }
  .lib_logo_slider_form_container .small-margin-collapse > .cell {
    margin-right: 0;
    margin-left: 0; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-3 {
    width: 25%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-6 {
    width: 50%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-9 {
    width: 75%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .small-margin-collapse > .small-12 {
    width: 100%; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .small-margin-collapse > .medium-1 {
      width: 8.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-2 {
      width: 16.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-3 {
      width: 25%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-4 {
      width: 33.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-5 {
      width: 41.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-6 {
      width: 50%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-7 {
      width: 58.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-8 {
      width: 66.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-9 {
      width: 75%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-10 {
      width: 83.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-11 {
      width: 91.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .medium-12 {
      width: 100%; } }
  @media print, screen and (min-width: 64em) {
    .lib_logo_slider_form_container .small-margin-collapse > .large-1 {
      width: 8.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-2 {
      width: 16.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-3 {
      width: 25%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-4 {
      width: 33.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-5 {
      width: 41.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-6 {
      width: 50%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-7 {
      width: 58.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-8 {
      width: 66.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-9 {
      width: 75%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-10 {
      width: 83.33333%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-11 {
      width: 91.66667%; }
    .lib_logo_slider_form_container .small-margin-collapse > .large-12 {
      width: 100%; } }

.lib_logo_slider_form_container .small-padding-collapse {
  margin-right: 0;
  margin-left: 0; }
  .lib_logo_slider_form_container .small-padding-collapse > .cell {
    padding-right: 0;
    padding-left: 0; }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .medium-margin-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_logo_slider_form_container .medium-margin-collapse > .cell {
      margin-right: 0;
      margin-left: 0; } }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .medium-margin-collapse > .small-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-3 {
    width: 25%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-6 {
    width: 50%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-9 {
    width: 75%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .small-12 {
    width: 100%; } }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-3 {
    width: 25%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-6 {
    width: 50%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-9 {
    width: 75%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .medium-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .medium-margin-collapse > .large-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-3 {
    width: 25%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-6 {
    width: 50%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-9 {
    width: 75%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .medium-margin-collapse > .large-12 {
    width: 100%; } }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .medium-padding-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_logo_slider_form_container .medium-padding-collapse > .cell {
      padding-right: 0;
      padding-left: 0; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-margin-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_logo_slider_form_container .large-margin-collapse > .cell {
      margin-right: 0;
      margin-left: 0; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-margin-collapse > .small-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-3 {
    width: 25%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-6 {
    width: 50%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-9 {
    width: 75%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .small-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-margin-collapse > .medium-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-3 {
    width: 25%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-6 {
    width: 50%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-9 {
    width: 75%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .medium-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-margin-collapse > .large-1 {
    width: 8.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-2 {
    width: 16.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-3 {
    width: 25%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-4 {
    width: 33.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-5 {
    width: 41.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-6 {
    width: 50%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-7 {
    width: 58.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-8 {
    width: 66.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-9 {
    width: 75%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-10 {
    width: 83.33333%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-11 {
    width: 91.66667%; }
  .lib_logo_slider_form_container .large-margin-collapse > .large-12 {
    width: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-padding-collapse {
    margin-right: 0;
    margin-left: 0; }
    .lib_logo_slider_form_container .large-padding-collapse > .cell {
      padding-right: 0;
      padding-left: 0; } }

.lib_logo_slider_form_container .small-offset-0 {
  margin-left: 0%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-0 {
  margin-left: calc(0% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-1 {
  margin-left: 8.33333%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-1 {
  margin-left: calc(8.33333% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-2 {
  margin-left: 16.66667%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-2 {
  margin-left: calc(16.66667% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-3 {
  margin-left: 25%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-3 {
  margin-left: calc(25% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-4 {
  margin-left: 33.33333%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-4 {
  margin-left: calc(33.33333% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-5 {
  margin-left: 41.66667%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-5 {
  margin-left: calc(41.66667% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-6 {
  margin-left: 50%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-6 {
  margin-left: calc(50% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-7 {
  margin-left: 58.33333%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-7 {
  margin-left: calc(58.33333% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-8 {
  margin-left: 66.66667%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-8 {
  margin-left: calc(66.66667% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-9 {
  margin-left: 75%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-9 {
  margin-left: calc(75% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-10 {
  margin-left: 83.33333%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-10 {
  margin-left: calc(83.33333% + 0.625rem); }

.lib_logo_slider_form_container .small-offset-11 {
  margin-left: 91.66667%; }

.lib_logo_slider_form_container .grid-margin-x > .small-offset-11 {
  margin-left: calc(91.66667% + 0.625rem); }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .medium-offset-0 {
    margin-left: 0%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-0 {
    margin-left: calc(0% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-1 {
    margin-left: 8.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-1 {
    margin-left: calc(8.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-2 {
    margin-left: 16.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-2 {
    margin-left: calc(16.66667% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-3 {
    margin-left: 25%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-3 {
    margin-left: calc(25% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-4 {
    margin-left: 33.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-4 {
    margin-left: calc(33.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-5 {
    margin-left: 41.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-5 {
    margin-left: calc(41.66667% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-6 {
    margin-left: 50%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-6 {
    margin-left: calc(50% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-7 {
    margin-left: 58.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-7 {
    margin-left: calc(58.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-8 {
    margin-left: 66.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-8 {
    margin-left: calc(66.66667% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-9 {
    margin-left: 75%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-9 {
    margin-left: calc(75% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-10 {
    margin-left: 83.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-10 {
    margin-left: calc(83.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .medium-offset-11 {
    margin-left: 91.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .medium-offset-11 {
    margin-left: calc(91.66667% + 0.9375rem); } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-offset-0 {
    margin-left: 0%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-0 {
    margin-left: calc(0% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-1 {
    margin-left: 8.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-1 {
    margin-left: calc(8.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-2 {
    margin-left: 16.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-2 {
    margin-left: calc(16.66667% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-3 {
    margin-left: 25%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-3 {
    margin-left: calc(25% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-4 {
    margin-left: 33.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-4 {
    margin-left: calc(33.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-5 {
    margin-left: 41.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-5 {
    margin-left: calc(41.66667% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-6 {
    margin-left: 50%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-6 {
    margin-left: calc(50% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-7 {
    margin-left: 58.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-7 {
    margin-left: calc(58.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-8 {
    margin-left: 66.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-8 {
    margin-left: calc(66.66667% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-9 {
    margin-left: 75%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-9 {
    margin-left: calc(75% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-10 {
    margin-left: 83.33333%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-10 {
    margin-left: calc(83.33333% + 0.9375rem); }
  .lib_logo_slider_form_container .large-offset-11 {
    margin-left: 91.66667%; }
  .lib_logo_slider_form_container .grid-margin-x > .large-offset-11 {
    margin-left: calc(91.66667% + 0.9375rem); } }

.lib_logo_slider_form_container .grid-y {
  display: flex;
  flex-flow: column nowrap; }
  .lib_logo_slider_form_container .grid-y > .cell {
    width: auto;
    max-width: none; }
  .lib_logo_slider_form_container .grid-y > .auto {
    height: auto; }
  .lib_logo_slider_form_container .grid-y > .shrink {
    height: auto; }
  .lib_logo_slider_form_container .grid-y > .small-shrink, .lib_logo_slider_form_container .grid-y > .small-full, .lib_logo_slider_form_container .grid-y > .small-1, .lib_logo_slider_form_container .grid-y > .small-2, .lib_logo_slider_form_container .grid-y > .small-3, .lib_logo_slider_form_container .grid-y > .small-4, .lib_logo_slider_form_container .grid-y > .small-5, .lib_logo_slider_form_container .grid-y > .small-6, .lib_logo_slider_form_container .grid-y > .small-7, .lib_logo_slider_form_container .grid-y > .small-8, .lib_logo_slider_form_container .grid-y > .small-9, .lib_logo_slider_form_container .grid-y > .small-10, .lib_logo_slider_form_container .grid-y > .small-11, .lib_logo_slider_form_container .grid-y > .small-12 {
    flex-basis: auto; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-y > .medium-shrink, .lib_logo_slider_form_container .grid-y > .medium-full, .lib_logo_slider_form_container .grid-y > .medium-1, .lib_logo_slider_form_container .grid-y > .medium-2, .lib_logo_slider_form_container .grid-y > .medium-3, .lib_logo_slider_form_container .grid-y > .medium-4, .lib_logo_slider_form_container .grid-y > .medium-5, .lib_logo_slider_form_container .grid-y > .medium-6, .lib_logo_slider_form_container .grid-y > .medium-7, .lib_logo_slider_form_container .grid-y > .medium-8, .lib_logo_slider_form_container .grid-y > .medium-9, .lib_logo_slider_form_container .grid-y > .medium-10, .lib_logo_slider_form_container .grid-y > .medium-11, .lib_logo_slider_form_container .grid-y > .medium-12 {
      flex-basis: auto; } }
  @media print, screen and (min-width: 64em) {
    .lib_logo_slider_form_container .grid-y > .large-shrink, .lib_logo_slider_form_container .grid-y > .large-full, .lib_logo_slider_form_container .grid-y > .large-1, .lib_logo_slider_form_container .grid-y > .large-2, .lib_logo_slider_form_container .grid-y > .large-3, .lib_logo_slider_form_container .grid-y > .large-4, .lib_logo_slider_form_container .grid-y > .large-5, .lib_logo_slider_form_container .grid-y > .large-6, .lib_logo_slider_form_container .grid-y > .large-7, .lib_logo_slider_form_container .grid-y > .large-8, .lib_logo_slider_form_container .grid-y > .large-9, .lib_logo_slider_form_container .grid-y > .large-10, .lib_logo_slider_form_container .grid-y > .large-11, .lib_logo_slider_form_container .grid-y > .large-12 {
      flex-basis: auto; } }
  .lib_logo_slider_form_container .grid-y > .small-1 {
    height: 8.33333%; }
  .lib_logo_slider_form_container .grid-y > .small-2 {
    height: 16.66667%; }
  .lib_logo_slider_form_container .grid-y > .small-3 {
    height: 25%; }
  .lib_logo_slider_form_container .grid-y > .small-4 {
    height: 33.33333%; }
  .lib_logo_slider_form_container .grid-y > .small-5 {
    height: 41.66667%; }
  .lib_logo_slider_form_container .grid-y > .small-6 {
    height: 50%; }
  .lib_logo_slider_form_container .grid-y > .small-7 {
    height: 58.33333%; }
  .lib_logo_slider_form_container .grid-y > .small-8 {
    height: 66.66667%; }
  .lib_logo_slider_form_container .grid-y > .small-9 {
    height: 75%; }
  .lib_logo_slider_form_container .grid-y > .small-10 {
    height: 83.33333%; }
  .lib_logo_slider_form_container .grid-y > .small-11 {
    height: 91.66667%; }
  .lib_logo_slider_form_container .grid-y > .small-12 {
    height: 100%; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-y > .medium-auto {
      flex: 1 1 0px;
      height: auto; }
    .lib_logo_slider_form_container .grid-y > .medium-shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-y > .medium-1 {
      height: 8.33333%; }
    .lib_logo_slider_form_container .grid-y > .medium-2 {
      height: 16.66667%; }
    .lib_logo_slider_form_container .grid-y > .medium-3 {
      height: 25%; }
    .lib_logo_slider_form_container .grid-y > .medium-4 {
      height: 33.33333%; }
    .lib_logo_slider_form_container .grid-y > .medium-5 {
      height: 41.66667%; }
    .lib_logo_slider_form_container .grid-y > .medium-6 {
      height: 50%; }
    .lib_logo_slider_form_container .grid-y > .medium-7 {
      height: 58.33333%; }
    .lib_logo_slider_form_container .grid-y > .medium-8 {
      height: 66.66667%; }
    .lib_logo_slider_form_container .grid-y > .medium-9 {
      height: 75%; }
    .lib_logo_slider_form_container .grid-y > .medium-10 {
      height: 83.33333%; }
    .lib_logo_slider_form_container .grid-y > .medium-11 {
      height: 91.66667%; }
    .lib_logo_slider_form_container .grid-y > .medium-12 {
      height: 100%; } }
  @media print, screen and (min-width: 64em) {
    .lib_logo_slider_form_container .grid-y > .large-auto {
      flex: 1 1 0px;
      height: auto; }
    .lib_logo_slider_form_container .grid-y > .large-shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-y > .large-1 {
      height: 8.33333%; }
    .lib_logo_slider_form_container .grid-y > .large-2 {
      height: 16.66667%; }
    .lib_logo_slider_form_container .grid-y > .large-3 {
      height: 25%; }
    .lib_logo_slider_form_container .grid-y > .large-4 {
      height: 33.33333%; }
    .lib_logo_slider_form_container .grid-y > .large-5 {
      height: 41.66667%; }
    .lib_logo_slider_form_container .grid-y > .large-6 {
      height: 50%; }
    .lib_logo_slider_form_container .grid-y > .large-7 {
      height: 58.33333%; }
    .lib_logo_slider_form_container .grid-y > .large-8 {
      height: 66.66667%; }
    .lib_logo_slider_form_container .grid-y > .large-9 {
      height: 75%; }
    .lib_logo_slider_form_container .grid-y > .large-10 {
      height: 83.33333%; }
    .lib_logo_slider_form_container .grid-y > .large-11 {
      height: 91.66667%; }
    .lib_logo_slider_form_container .grid-y > .large-12 {
      height: 100%; } }

.lib_logo_slider_form_container .grid-padding-y .grid-padding-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-padding-y .grid-padding-y {
      margin-top: -0.9375rem;
      margin-bottom: -0.9375rem; } }

.lib_logo_slider_form_container .grid-padding-y > .cell {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-padding-y > .cell {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem; } }

.lib_logo_slider_form_container .grid-margin-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-y {
      margin-top: -0.9375rem;
      margin-bottom: -0.9375rem; } }
  .lib_logo_slider_form_container .grid-margin-y > .cell {
    height: calc(100% - 1.25rem);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-y > .cell {
      height: calc(100% - 1.875rem);
      margin-top: 0.9375rem;
      margin-bottom: 0.9375rem; } }
  .lib_logo_slider_form_container .grid-margin-y > .auto {
    height: auto; }
  .lib_logo_slider_form_container .grid-margin-y > .shrink {
    height: auto; }
  .lib_logo_slider_form_container .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-3 {
    height: calc(25% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-6 {
    height: calc(50% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-9 {
    height: calc(75% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-12 {
    height: calc(100% - 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-y > .auto {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .small-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-3 {
      height: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-6 {
      height: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-9 {
      height: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-12 {
      height: calc(100% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-auto {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .medium-shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .medium-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-3 {
      height: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-6 {
      height: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-9 {
      height: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-12 {
      height: calc(100% - 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_logo_slider_form_container .grid-margin-y > .large-auto {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .large-shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .large-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-3 {
      height: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-6 {
      height: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-9 {
      height: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-12 {
      height: calc(100% - 1.875rem); } }

.lib_logo_slider_form_container .grid-frame {
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100vw; }

.lib_logo_slider_form_container .cell .grid-frame {
  width: 100%; }

.lib_logo_slider_form_container .cell-block {
  overflow-x: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-stype: -ms-autohiding-scrollbar; }

.lib_logo_slider_form_container .cell-block-y {
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-stype: -ms-autohiding-scrollbar; }

.lib_logo_slider_form_container .cell-block-container {
  display: flex;
  flex-direction: column;
  max-height: 100%; }
  .lib_logo_slider_form_container .cell-block-container > .grid-x {
    max-height: 100%;
    flex-wrap: nowrap; }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .medium-grid-frame {
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw; }
  .lib_logo_slider_form_container .cell .medium-grid-frame {
    width: 100%; }
  .lib_logo_slider_form_container .medium-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; }
  .lib_logo_slider_form_container .medium-cell-block-container {
    display: flex;
    flex-direction: column;
    max-height: 100%; }
    .lib_logo_slider_form_container .medium-cell-block-container > .grid-x {
      max-height: 100%;
      flex-wrap: nowrap; }
  .lib_logo_slider_form_container .medium-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .large-grid-frame {
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw; }
  .lib_logo_slider_form_container .cell .large-grid-frame {
    width: 100%; }
  .lib_logo_slider_form_container .large-cell-block {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; }
  .lib_logo_slider_form_container .large-cell-block-container {
    display: flex;
    flex-direction: column;
    max-height: 100%; }
    .lib_logo_slider_form_container .large-cell-block-container > .grid-x {
      max-height: 100%;
      flex-wrap: nowrap; }
  .lib_logo_slider_form_container .large-cell-block-y {
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-stype: -ms-autohiding-scrollbar; } }

.lib_logo_slider_form_container .grid-y.grid-frame {
  width: auto;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100vh; }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .grid-y.medium-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100vh; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .grid-y.large-grid-frame {
    width: auto;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100vh; } }

.lib_logo_slider_form_container .cell .grid-y.grid-frame {
  height: 100%; }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .cell .grid-y.medium-grid-frame {
    height: 100%; } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .cell .grid-y.large-grid-frame {
    height: 100%; } }

.lib_logo_slider_form_container .grid-margin-y {
  margin-top: -0.625rem;
  margin-bottom: -0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-y {
      margin-top: -0.9375rem;
      margin-bottom: -0.9375rem; } }
  .lib_logo_slider_form_container .grid-margin-y > .cell {
    height: calc(100% - 1.25rem);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-y > .cell {
      height: calc(100% - 1.875rem);
      margin-top: 0.9375rem;
      margin-bottom: 0.9375rem; } }
  .lib_logo_slider_form_container .grid-margin-y > .auto {
    height: auto; }
  .lib_logo_slider_form_container .grid-margin-y > .shrink {
    height: auto; }
  .lib_logo_slider_form_container .grid-margin-y > .small-1 {
    height: calc(8.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-2 {
    height: calc(16.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-3 {
    height: calc(25% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-4 {
    height: calc(33.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-5 {
    height: calc(41.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-6 {
    height: calc(50% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-7 {
    height: calc(58.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-8 {
    height: calc(66.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-9 {
    height: calc(75% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-10 {
    height: calc(83.33333% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-11 {
    height: calc(91.66667% - 1.25rem); }
  .lib_logo_slider_form_container .grid-margin-y > .small-12 {
    height: calc(100% - 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-margin-y > .auto {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .small-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-3 {
      height: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-6 {
      height: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-9 {
      height: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .small-12 {
      height: calc(100% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-auto {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .medium-shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .medium-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-3 {
      height: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-6 {
      height: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-9 {
      height: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .medium-12 {
      height: calc(100% - 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_logo_slider_form_container .grid-margin-y > .large-auto {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .large-shrink {
      height: auto; }
    .lib_logo_slider_form_container .grid-margin-y > .large-1 {
      height: calc(8.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-2 {
      height: calc(16.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-3 {
      height: calc(25% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-4 {
      height: calc(33.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-5 {
      height: calc(41.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-6 {
      height: calc(50% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-7 {
      height: calc(58.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-8 {
      height: calc(66.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-9 {
      height: calc(75% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-10 {
      height: calc(83.33333% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-11 {
      height: calc(91.66667% - 1.875rem); }
    .lib_logo_slider_form_container .grid-margin-y > .large-12 {
      height: calc(100% - 1.875rem); } }

.lib_logo_slider_form_container .grid-frame.grid-margin-y {
  height: calc(100vh + 1.25rem); }
  @media print, screen and (min-width: 40em) {
    .lib_logo_slider_form_container .grid-frame.grid-margin-y {
      height: calc(100vh + 1.875rem); } }
  @media print, screen and (min-width: 64em) {
    .lib_logo_slider_form_container .grid-frame.grid-margin-y {
      height: calc(100vh + 1.875rem); } }

@media print, screen and (min-width: 40em) {
  .lib_logo_slider_form_container .grid-margin-y.medium-grid-frame {
    height: calc(100vh + 1.875rem); } }

@media print, screen and (min-width: 64em) {
  .lib_logo_slider_form_container .grid-margin-y.large-grid-frame {
    height: calc(100vh + 1.875rem); } }

.lib_logo_slider_form_container .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a; }
  .lib_logo_slider_form_container .card > :last-child {
    margin-bottom: 0; }

.lib_logo_slider_form_container .card-divider {
  flex: 0 1 auto;
  display: flex;
  padding: 1rem;
  background: #e6e6e6; }
  .lib_logo_slider_form_container .card-divider > :last-child {
    margin-bottom: 0; }

.lib_logo_slider_form_container .card-section {
  flex: 1 0 auto;
  padding: 1rem; }
  .lib_logo_slider_form_container .card-section > :last-child {
    margin-bottom: 0; }

.lib_logo_slider_form_container .card-image {
  min-height: 1px; }

.lib_logo_slider_form_container input[type='radio'] {
  margin: 0 0 .4em; }

.lib_logo_slider_form_container select {
  background-image: none;
  vertical-align: initial; }

.lib_logo_slider_form_container .grid-x {
  margin-bottom: 30px; }

.lib_logo_slider_form_container #lib_gallery_images div {
  position: relative; }

.lib_logo_slider_form_container #lib_gallery_images .lib-responsive-image {
  width: 100%;
  height: auto; }

.lib_logo_slider_form_container #lib_gallery_images .img-preview {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0; }
  .lib_logo_slider_form_container #lib_gallery_images .img-preview:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .lib_logo_slider_form_container #lib_gallery_images .img-preview > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.lib_logo_slider_form_container #lib_gallery_images .lib-admin_ui--logo_item--remove {
  display: inline-block;
  text-decoration: none;
  color: white;
  z-index: 1;
  background: black;
  width: 25px;
  height: 25px;
  text-align: center;
  top: -10px;
  right: -10px;
  font-size: 15px;
  line-height: 25px;
  position: absolute;
  border-radius: 50%; }

.lib_logo_slider_form_container #lib_gallery_images .socialLink {
  display: none; }
  .lib_logo_slider_form_container #lib_gallery_images .socialLink.active {
    display: flex; }
  .lib_logo_slider_form_container #lib_gallery_images .socialLink .twitterHandle {
    position: relative;
    padding-left: 55px; }
    .lib_logo_slider_form_container #lib_gallery_images .socialLink .twitterHandle:before {
      content: '@';
      display: inline-block;
      position: absolute;
      left: 0;
      height: 100%;
      width: 50px;
      background: #8f8f8f; }
