.gallery-logo-module {
  /* Slider */
  /* Arrows */ }
  .slick-loading .gallery-logo-module .slick-list {
    background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat; }
  .gallery-logo-module .slick-prev,
  .gallery-logo-module .slick-next {
    position: absolute;
    display: none; }

.gallery-logo-module_grid .clear-fix {
  clear: both; }

.gallery-logo-module_grid figure {
  display: block;
  float: left;
  width: calc(100% / 7);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .gallery-logo-module_grid figure:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .gallery-logo-module_grid figure > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media (max-width: 800px) {
    .gallery-logo-module_grid figure {
      width: calc(100% / 4); } }
  @media (max-width: 750px) {
    .gallery-logo-module_grid figure {
      width: calc(100% / 3); } }
  .gallery-logo-module_grid figure > a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.gallery-logo-module {
  position: relative;
  margin-bottom: 20px; }
  .gallery-logo-module.slick-initialized {
    display: block; }
  .gallery-logo-module .galleryPrevArrow {
    display: block;
    position: absolute;
    height: 100%;
    cursor: pointer;
    width: 100px;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.5)); }
    .gallery-logo-module .galleryPrevArrow span {
      background-image: url("../images/icons/prev-arrow.svg"), none;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 35px;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      margin: 0 auto; }
  .gallery-logo-module .galleryNextArrow {
    display: block;
    position: absolute;
    height: 100%;
    cursor: pointer;
    width: 100px;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5)); }
    .gallery-logo-module .galleryNextArrow span {
      background-image: url("../images/icons/next-arrow.svg"), none;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 35px;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      margin: 0 auto; }
  .gallery-logo-module figure {
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 50px;
    margin-left: 50px;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    direction: ltr;
    position: relative; }
    .gallery-logo-module figure:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .gallery-logo-module figure > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .gallery-logo-module figure > a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; }
    .gallery-logo-module figure img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1; }
