@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

canvas {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.product-viewer-container {
    font-family: 'Montserrat', sans-serif;
}

.product-information-section img {
    width: 200px;
}

.product-information-section h3 {
    margin: 20px 0;
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
}

.product-selection-section h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 3px 0px 10px 0px;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
}

.product-selection-section ul.product-color-selector li {
    display: block !important;
    width: 30px !important;
    float: left !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.product-selection-section ul.product-color-selector li a {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
}

.product-selection-section ul.product-color-selector li a.classic-black {
    background-color: #282624;
}

.product-selection-section ul.product-color-selector li a.classic-blue {
    background-color: #3a5eb2;
}

.product-selection-section ul.product-color-selector li a.classic-green {
    background-color: #5DC057;
}

.product-selection-section ul.product-color-selector li a.classic-red {
    background-color: #bc1e2c;
}

.product-selection-section ul.product-color-selector li a.classic-xl-black {
    background-color: black;
}

.product-selection-section ul.product-color-selector li a.classic-xl-red {
    background-color: red;
}

.product-selection-section ul.product-color-selector li a.designer-aussie {
    background-color: #915841;
}

.product-selection-section ul.product-color-selector li a.designer-bayou {
    background-color: #4E3428;
}

.product-selection-section ul.product-color-selector li a.designer-carbon {
    background-color: black;
}

.product-selection-section ul.product-color-selector li a.designer-pink {
    background-color: #D87489;
}

.product-selection-section ul.product-color-selector li a.designer-green {
    background-color: #5a6c3a;
}

.product-selection-section ul.product-color-selector li a.designer-orange {
    background-color: #a8412e;
}

.product-selection-section ul.product-color-selector li a.designer-red {
    background-color: #802626;
}

.product-selection-section ul.product-color-selector li a.designer-camo {
    background-image: url('imgs/designer-camo.png');
}

.product-selection-section ul.product-color-selector li a.designer-blue {
    background-color: #2e365b;
}

.product-selection-section ul.product-color-selector li a.handmade-aligator-color1 {
    background-image: url('imgs/handmade-aligator-color1.jpg');
}

.product-selection-section ul.product-color-selector li a.handmade-aligator-color2 {
    background-image: url('imgs/handmade-aligator-color2.jpg');
}

.product-selection-section ul.product-color-selector li a.handmade-aligator-color3 {
    background-image: url('imgs/handmade-aligator-color3.jpg');
}

.product-selection-section ul.product-color-selector li a.handmade-aligator-color4 {
    background-image: url('imgs/handmade-aligator-color4.jpg');
}

.product-selection-section ul.product-color-selector li a.handmade-bison-color1 {
    background-image: url('imgs/handmade-bison-color1.jpg');
}



.product-selection-section ul {
    list-style: none;
    margin-left: 0 !important;
}

.product-selection-section li {
    margin: 0 !important;
}

.product-selection-section ul li a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration:  none;
    line-height: 40px;
    display: block;
}

.product-selection-section h3::before {
    display: block;
    content: '';
    position: absolute;
    left: 5px;
    bottom: -2px;
    width: 25px;
    height: 3px;
    background: #fce333;
    opacity: 1;
    z-index: 10;
}

/* .product-viewer-container p {
    font-size: 16px;
    line-height: 20px !important;
} */
